[2014-02-27 12:10] afknapping opened #2 "link to gh issues is wrong"
Issueception:

![](https://dl.dropboxusercontent.com/s/bmhfildt3x1t8ya/2014-02-27%20at%2013.08.png)

[2014-02-27 12:13] afknapping opened #3 "syntax highlighting support for silent classes"
currently breaks at dashes:

![](https://dl.dropboxusercontent.com/s/084pe1jnniyd01i/2014-02-27%20at%2013.12.png)

Edit: actually it breaks at the percent symbol i guess...

[2014-02-27 12:15] afknapping opened #4 "syntax highlighting support for extends"
Currently not highlighted:

![](https://dl.dropboxusercontent.com/s/rtjek030bqgnc9w/2014-02-27%20at%2013.12%20%281%29.png)

[2014-02-27 17:44] #2 closed, assigned to nobody

[2014-03-03 01:11] thomaslindstrom opened #5 "Incorrectly assuming property list termination when using ::-webkit-selection"
Hi!

![Issue](http://cl.ly/image/2P0u1D0F2s1H/Screen%20Shot%202014-03-03%20at%2002.05.42.png)

[code]

The parser seems to be assuming the first colon on the line with -webkit-selection is separating a key-value pair, which is wrong. This also leads it to assume that what comes after is just a selector (for some reason), and that the ending curly on the same line is terminating the property list.

[2014-03-06 05:03] lozandier opened #6 "No indication on whether or not the current file is being understood as .sass or .scss"
In the bottom left indicator that indicates the type of file you're working on, it doesn't tell you whether or not the current file is being interpreted as a .sass file or a .scss one.

This is important since it'll help you understand whether syntax highlighting is not working at a particular time--especially with new files because of incorrect syntax usage on your part.

[2014-03-07 01:20] thomaslindstrom opened #7 "translate3d(0, 0, 0) is assumed an RGB value"
[code]

`0, 0, 0` is given the class name `constant other color rgb-value scss`

[2014-03-07 09:32] #6 closed, assigned to nobody

[2014-04-21 17:10] #3 closed, assigned to kevinsawicki

[2014-04-21 17:11] #4 closed, assigned to kevinsawicki

[2014-04-21 17:24] #5 closed, assigned to kevinsawicki

[2014-04-21 17:39] #7 closed, assigned to kevinsawicki

[2014-04-22 08:50] thomaslindstrom opened #8 "Media queries over multiple lines"
language-sass seems to have the same issue as language-css had.

https://github.com/atom/language-css/issues/4

Media queries over multiple lines are treated as normal text.

[2014-04-22 17:42] #8 closed, assigned to kevinsawicki

[2014-05-27 19:21] isGabe opened #10 "Sass 3.3 parent selector suffixes treated as invalid"
[Parent selector suffixes](http://thesassway.com/news/sass-3-3-released#parent-selector-suffixes) are getting `.invalid` and `.illegal` classes, but they are valid .scss as of Sass v3.3.

![screen shot 2014-05-27 at 9 14 29 am](https://cloud.githubusercontent.com/assets/1437322/3096431/e5fe54b4-e5d3-11e3-8106-c52e79941880.png)

[2014-06-06 18:51] #10 closed, assigned to kevinsawicki

[2014-06-12 16:33] bassettsj opened #12 "Comment blocks should be `//` not `/* */`"
When writing SCSS/SASS, I would expect that the comment command would use the `//` style instead of the `/* */`, I think there was a recent change in either the editor or the language bundle to change the style of comments and it is driving me nuts, almost to the point of using another editor for when I write SCSS on projects. There is a big difference in how they treat the normal CSS style commen

[2014-06-12 22:22] #12 closed, assigned to nobody

[2014-06-18 23:56] alexshk opened #13 "Background snippet"
Maybe it is better to make it shorthanded?

`background-color: #${1:DDD};$0  ->  background: #${1:DDD};$0`

[2014-06-22 01:07] drewlustro opened #14 "Symbol lookup fails to work at all (⌘+R)"
No matter how hard I try, symbol lookup simply fails for my `.sass` files. I'm using the latest Atom version `0.106.0` at time of writing, I have the grammar enabled, the Symbols View package has `Use Editor Grammar As Ctags Language` set properly, but ⌘+R fails to match anything relevant.

Symbol lookup in Sublime Text 3 on the same file works fine.

Atom (fails):

![atom-symbol-lookup-sass-fails

[2014-06-23 16:55] #14 closed, assigned to kevinsawicki

[2014-07-12 04:37] baltavay opened #15 "Syntax highlighting with erb"
Files with extension css.scss.erb are not highlighted

[2014-07-17 05:49] #15 closed, assigned to nobody

[2014-08-01 07:56] suisho opened #17 "@at-root syntax"
I got problem when write `@at-root` ( new syntax in sass 3.3)  in scss. Editor highlighting that as invalid syntax.

[2014-08-06 10:54] tcarlsen opened #18 "custom tag coloring problems"
Im using Angular and custom-tags but it does not get the right colors

![screenshot 2014-08-06 12 52 56](https://cloud.githubusercontent.com/assets/145288/3825738/da030806-1d57-11e4-9f57-2de1e6dde5d1.png)

[2014-08-10 08:25] irunatbullets opened #19 "@import "blueprint"; overriding @import "$0"; snippet?"
I'm new to Atom so there may be a trick I'm not aware of but every time I type `import` then press tab it completes as:

[code]

In `language-sass.cson` the last two lines are:

[code]

And I'm guessing that the last bit is overriding the snippet I want. Is there something I need to do to be able to use the `@import "$0";` snippet instead?

[2014-08-11 22:32] #19 closed, assigned to nobody

[2014-08-13 21:37] #17 closed, assigned to kevinsawicki

[2014-08-14 21:13] #18 closed, assigned to kevinsawicki

[2014-08-19 15:08] sinterstice opened #21 "Syntax highlighting bug with comma-separated @imports"
The highlighter doesn't recognize comments between import statements that are comma-separated and on new lines.
![screenshot of the issue](https://cloud.githubusercontent.com/assets/5123044/3967975/6943343c-27b2-11e4-88be-09be0370b791.png)

[2014-08-19 19:54] lombardi-gux opened #22 "Syntax bug with property names"
If you look at this screenshot, you can see the tags and a few of the attributes are the same color. It's because the scope .entity.name.tag.scss applies to both tags (such as label here) and to some attributes (like margin-top here).

I noticed that most of those errant attributes were scoped as `.entity.name.tag.custom.scss` so I added that to my theme css along with the other selectors for css/

[2014-08-19 22:37] #22 closed, assigned to kevinsawicki

[2014-08-21 07:09] Rad1calDreamer opened #24 "Did atom compile css files?"
sorry for question, but did atom compile css from scss?

[2014-08-26 18:11] #24 closed, assigned to nobody

[2014-08-27 17:07] lombardi-gux opened #25 "Incorrect scoping of css attributes"
See attached:

![2014-08-27 at 1 04 pm](https://cloud.githubusercontent.com/assets/7459986/4063959/c2275a64-2e0c-11e4-8b26-1c74e9327f68.png)

![2014-08-27 at 1 05 pm](https://cloud.githubusercontent.com/assets/7459986/4063949/aa43bea6-2e0c-11e4-8516-c4c73356ef28.png)

The scss file can be downloaded here: http://cl.ly/code/2v0E0O3y3k3n/dswp.scss

[2014-08-27 17:56] #25 closed, assigned to nobody

[2014-09-03 14:55] wadehammes opened #26 "'text-' properties not syntax coloring properly"
v0.19 (for some reason I cannot update to .20 or .21, but see them as releases here)

Changed syntax language to CSS and properties color correctly, so this is not an issue with the Theme.

![screen shot 2014-09-03 at 10 50 24 am](https://cloud.githubusercontent.com/assets/222170/4135850/f447b8be-3379-11e4-9524-bd015743cc96.png)

[2014-09-03 15:41] #26 closed, assigned to nobody

[2014-09-05 17:29] lombardi-gux opened #27 "RGB color incorrectly scoped in variable."
In the attached, `#` is correctly scoped as `constant other color rgb-value scss`, but the actual hex numbers are scoped as `punctuation definition constant scss`

The entire color (e.g. `#CC0000`) should all be  `constant other color rgb-value scss`

![screen shot 2014-09-05 at 1 26 01 pm](https://cloud.githubusercontent.com/assets/7459986/4168927/3b14ae60-3522-11e4-849f-3a914dcbd3ca.png)

[2014-09-26 01:24] smlombardi opened #28 "Typo in scope name"
See attached typo for "punctuation"
![screen shot 2014-09-25 at 9 16 46 pm](https://cloud.githubusercontent.com/assets/835148/4414613/e427b9c6-451b-11e4-97a4-75f4d8ef7809.png)

[2014-09-26 15:34] #28 closed, assigned to kevinsawicki

[2014-10-06 19:51] envygeeks opened #29 "meta.selector missing (provided by CSS though.)"
When working on a syntax theme I noticed that Less does provide meta.selector for tag {} like CSS, can we please get this so that we can provide consistency across multiple different kinds of CSS source types.

[2014-10-09 14:55] anandthakker opened #30 "@page directive causes false syntax error highlight"
Copy-pastable example:

[code]

and screen shot:

![page-directive-syntax-error](https://cloud.githubusercontent.com/assets/4974151/4578363/58483684-4fc4-11e4-87d9-2d557b0d2cd9.jpg)

[2014-10-21 15:36] braver opened #32 "support for toggle-line-comments"
When toggling line comments (cmd-/) Atom first places `/**/` around an entire definition. Un-commenting the same line by hitting cmd-/ again removes the `/**/` but inserts `\\` before the line. Example:

[code]

Hitting cmd-/ with the caret at the pipe location results in this instead of simply putting `//` before `z-index...` :

[code]

This does un-comments properly.
However...

[code]

Results

[2014-10-22 00:30] #30 closed, assigned to kevinsawicki

[2014-10-22 16:42] #32 closed, assigned to nobody

[2014-10-27 11:05] kevinansfield opened #33 "Incorrect highlighting for flexslider css"
When rendering this file: https://gist.github.com/kevinansfield/7828567ad5efd9367d55

Sublime text (correct): ![screen shot 2014-10-27 at 11 58 58](https://cloud.githubusercontent.com/assets/415/4789744/d638b174-5dc8-11e4-941d-26d90904618f.png)
Atom (large chunks lose correct colours): ![screen shot 2014-10-27 at 12 02 43](https://cloud.githubusercontent.com/assets/415/4789745/d66d9394-5dc8-11e4-9

[2014-10-27 16:57] #33 closed, assigned to nobody

[2014-12-04 20:46] #27 closed, assigned to nobody

[2014-12-04 20:46] #21 closed, assigned to nobody

[2014-12-10 18:21] smlombardi opened #39 "Bracket incorrectly syntax colored"
Using Atom's Solarized light:
![2014-12-10_13-18-39](https://cloud.githubusercontent.com/assets/835148/5381457/6c30b456-806f-11e4-8f50-1fb4100d889d.jpg)

[2015-01-06 20:57] smlombardi opened #40 "Numbers used in maps are scoped css css number values"
For example, this code:
[code]

The numbers in the map (e.g. the "2" in "color2") are scoped `constant numeric scss` like "regular" numbers (e.g. "2px") in a css value instead of matching the rest of the list item title.

The list item title does not have its own scope either (I realize this is a very new sass feature):

![screen shot 2015-01-06 at 3 56 30 pm](https://cloud.githubusercontent.com/a

[2015-01-08 13:00] gfpacheco opened #44 "From and to keywords highlight inside @keyframes definition"
`from` and `to` keywords aren't being colored properly:
![screenshot from 2015-01-08 10 57 43](https://cloud.githubusercontent.com/assets/3705660/5662812/5d65a39c-9725-11e4-86d0-a845559caa7e.png)

I think the right way to do it is matching them only when inside `@keyframes` definitions, but I don't know how to do it.

[2015-01-09 16:58] haggen opened #45 "`order` property (flex-box) is highlighted in red"
![SASS incorrect highlight](https://cloud.githubusercontent.com/assets/270076/5683531/c624f0e6-980f-11e4-9490-0ee9582b6105.png)

Info on `order`: https://developer.mozilla.org/en-US/docs/Web/CSS/order

[2015-01-26 15:03] jplatte commented on #45
+1

When looking at the language-css grammar file, I found that it doesn't know this property (as well as other flexbox stuff) either. It isn't highlighted as error though, simply highlighted in another color (slightly darker grey in the atom-dark theme). Maybe it would be a good idea to the same here, instead of highlighting all unknown keywords as errors.

[2015-01-28 18:32] jdsimcoe opened #46 "Comment issue"
When I use `cmd + /` to comment code it wraps the code in `/*  */` instead of using `//` on each line. Is there a way to change this configuration?

[2015-01-30 17:46] joseph-turner commented on #46
+1

[2015-02-09 14:10] abe33 opened #48 "SASS completion selector setting doesn't match how the grammar tokenize the buffer"
With the following snippet:

[code]
Autocomplete and Autocomplete+ both use the `editor.completion` field from the package settings, which use the following selector `.source.sass .meta.property-list` for sass completion of properties name.
Sadly, there's no `property-list` class when typing a property in a selector, instead the grammar use `.meta.selector.css` when typing the beginning of a prope

[2015-02-09 18:29] #45 closed

[2015-02-09 18:57] jplatte commented on #45
Thanks! :)

[2015-02-09 19:02] kevinsawicki commented on #46
What language name is shown in the status bar when you see this issue?

I'm having trouble reproducing it using the Sass or SCSS grammars.

[2015-02-09 19:04] jdsimcoe commented on #46
`SCSS`. See screenshot below for reference:

![screenshot](https://cloud.githubusercontent.com/assets/275617/6113330/744799e6-b04b-11e4-876d-1ea19e4df29d.png)

[2015-02-09 19:09] kevinsawicki commented on #46
Weird, this is what I'm seeing when hitting `cmd-/` in an SCSS file.

![scss-comment](https://cloud.githubusercontent.com/assets/671378/6113413/08e1a6e6-b04c-11e4-8974-bdc5e656acb0.gif)

@jdsimcoe Can you reproduce this when quitting Atom and then running running `atom --safe` to launch it in safe mode?

[2015-02-09 19:11] jdsimcoe commented on #46
@kevinsawicki weird. When I run in safe mode it works just fine. What is the best way for me to diagnose what is causing it? My guess is `atom-emmet`.

[2015-02-09 19:13] jdsimcoe commented on #46
@kevinsawicki When I disable `atom-emmet` it works fine. Just don't know how to tweak Emmet to not cause this issue.

[2015-02-09 20:35] kevinsawicki commented on #46
Okay, closing this out here since it seems definitely seems Emmet related.

[2015-02-09 20:35] #46 closed

[2015-02-09 21:34] kevinsawicki commented on #48
I think it is, no other way jumps to mind.

Sounds good :+1:

[2015-02-23 17:29] silvenon commented on #44
The problem is that after `@keyframes anim` the grammar matches `{` and `}` as a property list. It needs to match them as special `@keyframes` selector list which will only match `(from|to|\d+%)` as "selectors". Or something like that.

I'm currently diving into grammars, when I get the hang of it I'll try to fix this.

[2015-02-27 17:16] #13 closed

[2015-02-27 17:23] #44 closed

[2015-03-03 22:01] bcherny opened #53 "Single quote in inline comment breaks highlighting for the rest of the file"
![screen shot 2015-03-03 at 2 01 06 pm](https://cloud.githubusercontent.com/assets/1761758/6473353/baa03592-c1ad-11e4-943c-bf52bf30daeb.png)

[2015-03-29 19:33] aar0nr opened #55 "Inconsistent operator coloring"
When you use the addition or subtraction operator with a number, it becomes the same color as the number. The other operators don't do this.

This example is using the Atom Dark syntax theme:

![bug](https://cloud.githubusercontent.com/assets/173250/6887271/790debaa-d617-11e4-807f-21eaaab22efb.png)

[2015-04-01 13:17] raphinesse opened #56 "Improve support for parentheses in function invocations"
The following is highlighted incorrectly:
[code]

### Atom example
![Atom example](https://cloud.githubusercontent.com/assets/1006620/7008126/fc682208-dc8f-11e4-8801-b1f54018d450.png)

Note how the part in the inner parentheses and the opening inner parenthesis are all highlighted in red here.

### Sublime example
![Sublime example](https://cloud.githubusercontent.com/assets/1006620/7008128/ffa57f

[2015-04-01 13:24] 50Wliu commented on #56
Can you please share a screenshot of how they're supposed to be highlighted (in another editor, eg Sublime or Textmate) and how they're currently highlighted in Atom?  Thanks.

[2015-04-06 17:13] raphinesse commented on #56
I updated the issue with additional information.

[2015-04-25 04:16] kokuou opened #57 "Autocomplete issue with punctuation"
I'm not sure if this is an autocomplete-plus issue or a language-sass issue, but I'm getting suggestions popping up after hitting characters like comma, semicolon, and space. If I try to hit enter quickly after, say, a semicolon, doing so adds "align-content:" (I suppose matching from the top of the suggestions list) instead of breaking to a new line.

![scss-autocomplete](https://cloud.githubuser

[2015-05-01 21:47] ProLoser opened #59 "Crashing Atom"
I can't figure out why though. I went through a plethora of plugins (color picker, linter, etc) and almost all of them had no effect. Essentially the moment I start typing characters, after about a second editor complete locks up. I'm on OSX, and when I check the force quit dialogue, atom does not appear as 'not responding' but after 1 minute of waiting atom itself prompts me that it's no longer r

[2015-05-01 21:48] ProLoser commented on #59
In case it's useful, I did `apm list`:
[code]

[2015-05-01 21:52] kevinsawicki commented on #59
Does the issue happen if you start Atom with the `--safe` command line flag?

[2015-05-01 22:49] ProLoser commented on #59
No it does not. And I ran it again without `--safe` to confirm that it DOES occur still without it in the same exact situation.

[2015-05-01 22:51] kevinsawicki commented on #59
That suggests that one of the installed plugins is causing the issue, one that maybe is using the `language-sass` package, perhaps the `linter-scss-lint` one?

[2015-05-01 23:06] ProLoser commented on #59
Okay yeah after some more thorough testing it seems that just having `pigments` and `autocomplete-plus` enabled together causes the crash.

[2015-05-01 23:06] #59 closed

[2015-06-04 15:37] javaporter opened #64 "italics and bold on lines immediately following a comment"
If you have sass directly underneath a comment, the text following the comment becomes bold and italic, if you leave a blank line in between, it behaves as it should. This is happening with Atom v.205 and language-sass v.38.0.

---

![screenshot 2015-06-04 09 35 56](https://cloud.githubusercontent.com/assets/170182/7987825/219ad27e-0a9d-11e5-8056-86bfedf87a0c.png)
![screenshot 2015-06-04 09 35 46]

[2015-06-04 16:30] javaporter commented on #64
my bad, this was the syntax theme

[2015-06-04 16:30] #64 closed

[2015-06-05 00:02] itsjustmath opened #66 "Support for single line comments"
![atom_sass_example_comment](https://cloud.githubusercontent.com/assets/635044/7996979/630b3382-0adb-11e5-90d1-5a26ba24eda4.png)

When clicking `CMD` + `/` the editor creates a multiline comment by default.

It would be great if there was an option to choose between [multiline comments and single line comments](http://sass-lang.com/documentation/file.SASS_REFERENCE.html#comments).

I believe Subli

[2015-06-05 00:09] mnquintana commented on #66
I can't reproduce this with Atom 0.206.0-8abdc67 and language-sass 0.38.0 – can you reproduce this in safe mode? There have been [a few](https://github.com/atom/language-sass/issues/32) of [these reports](https://github.com/atom/language-less/issues/31) before, and they've all been caused by a community package (emmet, in this case).

[2015-06-05 00:26] itsjustmath commented on #66
My apologies! Disabling emmet fixed the issue. I'll file a bug with them. Thanks!

[2015-06-05 00:26] #66 closed

[2015-06-09 22:11] shaungrady opened #67 "Comments affect syntax highlighting of first non-empty line below them (indented syntax)"
The syntax highlighting is slightly bugged for the first non-empty line below a comment. See:

![image](https://cloud.githubusercontent.com/assets/52413/8070913/0de674f6-0eba-11e5-832b-7351a3ef354f.png)

Tested with multiple themes, each has issues: Railscast (pictured), Monokai, Atom Dark, and Atom Light.

[2015-06-11 12:09] genoma opened #68 "Sass *.sass files have no auto completion"
While .scss file extension has auto complete working quite well, working at a couple of projects that use .sass files, I have noticed that there is no auto completion for properties and values.

[2015-06-15 18:11] timglorioso commented on #53
Apparently indented syntax doesn't support inline comments yet, so this shouldn't work anyway. See https://github.com/sass/sass/issues/326.

[2015-06-23 19:33] varemenos opened #70 "nth-child inconsistent coloring when using an+b format"
the `n` in the `an+b` format is badly colored.
Here is an example:

![screenshot from 2015-06-23 22-30-29](https://cloud.githubusercontent.com/assets/626343/8315219/b3845c5a-19f7-11e5-9663-17916351fd70.png)

[2015-07-04 10:42] batjko commented on #70
Could this be some Linter issue perhaps?
Does it still happen in safe mode (`atom --safe`)?

[2015-07-04 10:50] izuzak commented on #70
@batjko Yeah, it's visible in safe mode as well.

[code]

Try pasting that in a new file and setting the SCSS grammar (with one dark themes).

[2015-07-04 11:38] batjko commented on #70
I don't know how SASS works, but if it helps, it also seems to happen if you replace the n with some other (presumably pre-defined) letter, e.g. m, k, h and l, but not with a, s, q etc.

[2015-07-05 15:00] dmitry opened #71 "Support autocomplete for referenced parent selectors"
Currently if I write `.plac` it will find only `.place` class name, and not `.place__header`.

[code]

http://sass-lang.com/documentation/file.SASS_REFERENCE.html#parent-selector

[2015-07-31 16:21] kevinsawicki commented on #68
I believe this has been resolved by https://github.com/atom/autocomplete-css/pull/13

Please comment if you still don't see these in Atom 1.0.3+.

[2015-07-31 16:21] #68 closed

[2015-07-31 16:38] kevinsawicki commented on #57
I believe this is a duplicate of https://github.com/atom/autocomplete-plus/issues/513 which has been resolved and released in Atom 1.0.3.

If there are still any issues please open them on the https://github.com/atom/autocomplete-css repository.

[2015-07-31 16:38] #57 closed

[2015-08-01 10:10] genoma commented on #68
It is working indeed, thanks.

[2015-08-10 12:51] saschagehlich commented on #71
Since sass supports includes / imports, this will be very tricky to implement... something like this is possible in Sass:

[code]

[2015-08-10 12:52] saschagehlich opened #73 "Parent selectors do not appear in symbols list"
[code]

It would be very helpful if `&-bar` appeared in the symbols list when pressing `Cmd+R`

[2015-08-27 02:37] thomaslindstrom opened #74 "Nested closing selector brackets are not colored"
<img width="504" alt="screen shot 2015-08-27 at 04 34 11" src="https://cloud.githubusercontent.com/assets/2833514/9511280/3acbf952-4c75-11e5-99cc-5315537a0511.png">

[code]

Neither of the two final closing brackets are syntax highlighted.

[2015-08-30 15:29] dustindowell22 commented on #74
![img](http://cl.ly/image/2Z2Z3s273g1O/Screen%20Shot%202015-08-30%20at%2010.26.44%20AM.png)

I'm not seeing anything, what theme are you using?

[2015-08-30 15:30] thomaslindstrom commented on #74
It's not theme dependent. Take a look in attachment 1,

[2015-09-02 11:53] adam-knights opened #75 "CSS3 will-change property incorrectly highlights red in SCSS file"
Say I have a button.scss with
[code]

Will change currently highlights red, when it is valid:

![will-change](https://cloud.githubusercontent.com/assets/12710362/9630336/8a235d32-5171-11e5-8e63-fd6adf91ada6.png)

I believe this should not be highlighted?
(I previously wrongly reported this at https://github.com/atom/atom/issues/8633)

[2015-09-04 22:16] simpsondigital opened #76 "TypeError: Error linting"
Every time I try to save a scss file, I keep getting this error. Used to work fine, so I'm wondering if there was a recent breaking change? Running Mac OS X 10.10.5 Yosemite.

[2015-09-04 22:23] mnquintana commented on #76
Can you post the full stack trace of this error here? (When it pops up there should be a copy icon in the notification.) This sounds like an issue with a linter package, though.

[2015-09-05 14:30] #75 closed

[2015-09-07 12:00] andrejkostal opened #78 "Wrong syntax highlighting - especially flexbox properties"
I have tried another Sass syntax highlighter and everything worked just fine.

![atombug](https://cloud.githubusercontent.com/assets/13579693/9716179/98a2b958-5567-11e5-8aaf-c9d8998ff714.png)

[2015-09-08 19:36] JimmyMultani opened #79 "Using brackets inside selector breaks theme?"
I've noticed that using brackets inside a class/id will break the theming of code after.

![screenclip](https://cloud.githubusercontent.com/assets/1281284/9744152/14a6688a-5638-11e5-931a-55ef9b556a4f.png)

I am on Atom 1.0.11 as of this posting. I switched back to the One Dark UI and theme, but that did not fix the issue. Removing all plugins did not fix it either.

I am at a loss as to what to do

[2015-09-09 06:51] dustindowell22 commented on #56
I have some more info! I noticed this just today.

Not correct with parentheses:
![img](http://cl.ly/image/052r2u2v0L2u/Screen%20Shot%202015-09-09%20at%201.45.41%20AM.png)

Correct without parentheses:
![img](http://cl.ly/image/123D2o2L1m0b/Screen%20Shot%202015-09-09%20at%201.46.16%20AM.png)

[2015-10-07 15:37] JimmyMultani commented on #79
Hey @50Wliu, if there is anything else that you need, please let me know. Thanks.

[2015-10-07 15:38] 50Wliu commented on #79
@JimmyMultani I'll try to look at this soon, but no guarantees.

[2015-10-09 01:47] simurai commented on #79
I can reproduce it when using `.scss`:

[code]

![screen shot 2015-10-09 at 10 44 17 am](https://cloud.githubusercontent.com/assets/378023/10384189/0fc5ce7a-6e73-11e5-8f4c-d28a8d390abd.png)

[2015-10-22 21:23] ccheney opened #82 "Relative protocol highlights as if it were commented out"
[code]

It renders completely fine in the output css it just appears to be commented in the editor.

![screen shot 2015-10-22 at 4 21 01 pm](https://cloud.githubusercontent.com/assets/302437/10678598/09c77238-78d9-11e5-818c-d29d96816a65.png)

![screen shot 2015-10-22 at 4 22 30 pm](https://cloud.githubusercontent.com/assets/302437/10678612/21daa9a8-78d9-11e5-95a4-9eda1ef6d153.png)

Perhaps there's

[2015-10-29 18:49] taylorlapeyre opened #83 "box-sizing: border-box is not highlighted correctly."
<img width="234" alt="screen shot 2015-10-29 at 11 48 55 am" src="https://cloud.githubusercontent.com/assets/1610503/10828693/2212cfb8-7e33-11e5-9597-b9b8d528d47b.png">

Looks like `border-box` is not being identified as a valid symbol.

[2015-11-01 16:28] #83 closed

[2015-11-01 21:05] taylorlapeyre commented on #83
:raised_hands:

[2015-11-04 13:09] demrks opened #88 "SCSS: Variable in selector / BEM Syntax breaks highlighting"
If I use a variable (`#{$variable}`) in a selector in combination with the BEM syntax (two underscores `__` in particular), the code highlighting seems to break:

![screen shot 2015-11-04 at 14 02 39](https://cloud.githubusercontent.com/assets/5760429/10938741/c00f6dac-82fc-11e5-8a0b-f88e58fb65f6.png)

I tested this with multiple themes, none seems to work.

[2015-11-10 00:51] #40 closed

[2015-11-16 21:48] serhiicss opened #89 "Auto indentation not working"
sass auto indent does not seem to work. I'm pretty sure I am missing something, but what? Thanks!

![sass](https://cloud.githubusercontent.com/assets/3081897/11195780/d46bb7d4-8cc4-11e5-9252-bf9c44f9c5bb.jpg)

[2015-11-30 13:16] ronilaukkarinen opened #92 "overflow color"
For some reason I don't have colors for overflow. Is this intentional?

![Screenshot](https://dl.dropboxusercontent.com/u/18447700/Screenshot%202015-11-30%2015.15.20.png "Screenshot.")

[2015-11-30 14:51] ronilaukkarinen commented on #92
Installed scss-linter and noticed the wrong order... sorry about this.

[2015-11-30 14:51] #92 closed

[2015-12-11 12:14] evilebottnawi opened #94 "add navigation to sass/scss @import"

[2015-12-12 02:00] lee-dohm commented on #94
Please include some more information as to what it is you're looking for. You can refer to the [How Do I Submit a (Good) Enhancement Suggestion?](https://github.com/atom/atom/blob/master/CONTRIBUTING.md#how-do-i-submit-a-good-enhancement-suggestion) section of the CONTRIBUTING guide for ideas on what it is that can help us understand what you want.

[2015-12-13 06:30] johnburkhard opened #95 "Auto indent isn't working"
When working with SASS files and pressing enter, the auto indent feature isn't working. Tested on a clean install, no plugins or modifications.

[2015-12-13 18:45] lee-dohm commented on #95
Please be a bit more specific. See the [How Do I Write a (Good) Bug Report](https://github.com/atom/atom/blob/master/CONTRIBUTING.md#how-do-i-submit-a-good-bug-report) section of the CONTRIBUTING guide for suggestions.

[2015-12-13 18:55] johnburkhard commented on #95
When you press enter it doesn't indent.

John Burkhard
724-771-3932
www.johnburkhard.com

[2015-12-18 18:57] serhiicss commented on #89
Not a bug, but a features. Auto indent works once the first line is manually indented.

[2015-12-18 18:57] #89 closed

[2015-12-18 18:59] serhiicss commented on #95
This appears to be a feature, not a bug. Some code editors support this and some don't.

However, once you manually indent the first line, the next one will auto indent.

[2015-12-18 19:16] johnburkhard commented on #95
It's not a feature, others have complained about it. If the file is .scss and you use curly braces it will auto indent. If the file is .sass and you don't use curly braces it doesn't indent.

[2015-12-19 17:22] serhiicss commented on #95
I did complain about it myself. Then I tried it in other code editors and as I have mentioned before some support it and some don't. So I figured it must a be a feature. Glad to see it is labeled bug now.

[2015-12-19 18:42] lee-dohm commented on #95
Even though I do consider this a bug, I'm not sure it will be fixed any time soon. Given what I understand of the Sass syntax, determining when to indent and when not to could be very hard.

Perhaps since the two of you are more familiar with the use of the Sass syntax, you could give some examples of lines where the next line should and shouldn't be indented deeper?

[2015-12-22 03:14] johnburkhard commented on #95
For starters any classes (.this-class), media queries (@media), selectors (a, img, h1), &:before &:after etc. Those should auto-indent on enter every time. It works in any other editor I've used and I would hate to go back to S3.

[2015-12-31 18:06] jeffreywescott opened #96 "support for CSS modules (e.g., 'composes' keyword)?"
Hi. I'm wondering if it would be easy / desirable to support the [`composes` keyword from CSS-modules](https://github.com/css-modules/css-modules#user-content-dependencies)? Right now, it parses as an error and highlights the word in red.

[2016-01-05 14:18] bjmiller commented on #79
FWIW, this also breaks detection of the last bracket as having scope `punctuation.section.property-list.end.scss`

[2016-01-07 21:25] chrisdrackett opened #97 "Comments on the same line as code don't use the correct color"
At the moment if you add a comment on the same line as code it won't be colored as other comments. For example:

    .Test
        background: green // some comment

This seems to work in `.scss` files, but not `.sass` files.

[2016-01-07 21:27] chrisdrackett commented on #97
sorry, missed #53. Closing.

[2016-01-07 21:27] #97 closed

[2016-01-08 06:25] chrisdrackett opened #98 "variable within selector"
in a `.sass` file if I write a variable alone:
[code]

things are highlighted correctly, however if I put the variable within a selector:
[code]
The syntax highlighting is wrong.

[2016-01-08 18:31] giladgray opened #99 "negative numbers aren't highlighted correctly"
![sass-negatives](https://cloud.githubusercontent.com/assets/464822/12205908/cf59bba4-b5f2-11e5-83e9-83cb18ea0ca9.png)

1. the minus sign in -50% isn't colored the same, because it's not a part of the `constant.numeric`.
2. the -50% in translate() is marked as `variable.parameter.url` which isn't even close to correct.

Shouldn't be much more than adding optional minus sign to numeric regex.

[2016-01-08 18:57] mnquintana commented on #99
Confirmed in Atom 1.3.2

[2016-01-15 00:13] danieldiekmeier commented on #79
I also have this problem, and a fix would be greatly appreciated.

[code]

![screen shot 2016-01-15 at 01 12 47](https://cloud.githubusercontent.com/assets/2098462/12341872/1d8b0012-bb25-11e5-8a5b-5fa58a62b7b8.png)

[2016-01-26 21:14] LandonSchropp opened #100 "The transparent keyword doesn't autocomplete"
Please let me know if this isn't the right place to post this and I'll close this ticket.

On my local machine, I can't seem to autocomplete the `transparent` keyword. Instead, I end up with `transparentize`.

<img width="606" alt="screen shot 2016-01-26 at 1 12 20 pm" src="https://cloud.githubusercontent.com/assets/361591/12595178/ba8cbf74-c42e-11e5-81d4-ff67d45da24d.png">

I'm using Atom 1.4.0 a

[2016-01-26 21:57] 50Wliu commented on #100
@LandonSchropp I *think* you want autocomplete-css instead (which handles Less/Sass as well).

[2016-01-26 21:57] #100 closed

[2016-01-26 21:58] LandonSchropp commented on #100
@50Wliu Gotcha, thanks for pointing me in the right direction.

[2016-01-28 10:06] electerious commented on #79
Seems to happen for everything after a nested selector:

[code]

[code]

[code]

[2016-02-09 03:45] 50Wliu commented on #76
Closing as this is most likely an issue with a Linter package, and not with language-sass itself.

[2016-02-09 03:45] #76 closed

[2016-03-04 20:40] patoezequiel commented on #74
Same here, the closing brackets in nested selectors of SCSS are not colored.

![screenshot_6](https://cloud.githubusercontent.com/assets/5291103/13539578/0b7f2038-e230-11e5-905c-7fb393146d17.png)

[2016-04-13 15:24] ivancuric opened #102 "No comment highlighting in maps"
![image](https://cloud.githubusercontent.com/assets/2827047/14498905/8e4a1064-019c-11e6-991f-3febea19e1e0.png)

[2016-04-18 23:16] Knifa opened #103 "Lines underneath media query block are not colored"
Using Atom 1.7.1 and language-sass 0.46.0.

Lines underneath media queries don't get colored correctly until the next block.

![image](https://cloud.githubusercontent.com/assets/622619/14622718/f740dfaa-05c3-11e6-83fa-e84d1f193595.png)

[2016-04-19 11:58] paulozoom opened #104 "Map keys using standard CSS property values break highlighting"
Here’s a few examples:

![screen shot 2016-04-19 at 12 54 59](https://cloud.githubusercontent.com/assets/69427/14638189/101def26-062e-11e6-8eaf-7b581eeddb94.png)
![screen shot 2016-04-19 at 12 56 56](https://cloud.githubusercontent.com/assets/69427/14638222/44a96c5c-062e-11e6-9eb8-d90d3d4fb433.png)
![screen shot 2016-04-19 at 12 58 04](https://cloud.githubusercontent.com/assets/69427/14638240/61be

[2016-04-19 22:02] #53 closed

[2016-04-19 22:02] #82 closed

[2016-04-20 02:53] 50Wliu commented on #67
Cannot reproduce using language-sass@0.47.0 and the code example below; assuming fixed.
[code]

[2016-04-20 02:53] #67 closed

[2016-04-21 00:09] 50Wliu commented on #55
Cannot reproduce using language-sass@0.47.0; assuming fixed.  Though it seems like the operators aren't even given their own scope, which is a different issue.

[2016-04-21 00:09] #55 closed

[2016-04-21 02:54] 50Wliu commented on #78
Inline code for easy copy/pasting:
[code]

[2016-04-21 02:55] 50Wliu commented on #78
At this point only `align-items` and `justify-content` aren't recognized.

[2016-04-22 00:03] 50Wliu commented on #79
Sorry for the delay in investigating this.  I have a fix up at #108 - if people could test that PR out, it would be greatly appreciated.

[2016-04-22 00:34] 50Wliu commented on #94
No response, closing.

[2016-04-22 00:34] #94 closed

[2016-04-22 00:40] 50Wliu commented on #96
As `composes` is not part of the CSS spec and is instead its own CSS-like language, I don't think language-sass should support this.  Something like `language-css-modules` could though.

Feel free to correct me if I'm misunderstanding something.

[2016-04-22 00:40] #96 closed

[2016-04-22 01:14] 50Wliu commented on #102
[code]

[2016-04-22 01:23] 50Wliu commented on #103
This is actually a duplicate of #79 - feel free to subscribe there for updates.

[2016-04-22 01:23] #103 closed

[2016-04-22 01:57] 50Wliu commented on #71
This issue was moved to atom/autocomplete-css#50

[2016-04-22 01:57] #71 closed

[2016-04-22 01:58] 50Wliu commented on #73
Hi @saschagehlich, can you please move this to the [symbols-view](https://github.com/atom/symbols-view) repository?  Thanks.

[2016-04-22 01:58] #73 closed

[2016-04-22 02:00] 50Wliu commented on #29
Hi @envygeeks, can you please provide a code block with comments that shows where `meta.selector` should be?  Thanks.

[2016-04-22 08:15] envygeeks commented on #29
Hey @50Wliu here is an example

[code]

"div:target" is `meta.selector.css" in CSS and wraps around the entity.  I still don't fully comprehend the CSON files that make up language files but here it is in CSS: https://github.com/atom/language-css/blob/master/grammars/css.cson#L476-L479 the problem with SCSS is that we have no generic wrapper around said selectors.

[2016-04-22 08:22] envygeeks commented on #29
Why I originally wanted this, I can't remember, but looking at the source of my personal theme, I'm to assume it was because of a bug somewhere that prevented `entity.name.tag` from being applied to the "div" which prevented me from matching the theme in all sources, it could have also just as well been a choice to optimize my CSS because I had no need to highlight unique pieces and add more LESS

[2016-04-29 22:28] #78 closed

[2016-05-03 20:15] #39 closed

[2016-05-03 20:16] #88 closed

[2016-05-03 20:16] #98 closed

[2016-05-03 20:16] #102 closed

[2016-05-05 20:03] cortopy opened #120 "error BASH_FUNC_module"
I just upgraded to Atom 1.7.3 and currently I need to disable language-sass, otherwise I get the following error

[code]

Oddly, this error happens with scss files but not with sass indented syntax

Atom: 1.7.3
Node: 0.10, 5.11 and 6
OS: Fedora 23

[2016-05-06 01:47] 50Wliu commented on #120
I don't believe this is a problem with language-sass as it doesn't use Bash.  I would check your other packages ([package-cop](https://atom.io/packages/package-cop) is generally a good way to do this).

[2016-05-06 01:47] #120 closed

[2016-05-06 01:49] 50Wliu opened #121 "Pseudo-selectors are not recognized"
Taken from the autocomplete-css specs:
[code]
The `:` is treated as the key value separator and `pseudo` as the property value.

[2016-05-06 11:27] cortopy commented on #120
Thanks @50Wliu package-cop did the trick. It was the linter

[2016-05-17 17:41] albell opened #125 "CSS Feature queries are mistakenly highlighted as syntax errors"
For example:

![bad-supports-error-highlighting-in-atom](https://cloud.githubusercontent.com/assets/1142025/15332509/be42b67a-1c1a-11e6-9284-21d254e5e1cc.png)

The highlighting for a similar snippet tagged as a CSS file shows as expected:

![screen shot 2016-05-17 at 10 33 57 am](https://cloud.githubusercontent.com/assets/1142025/15332548/eaa72764-1c1a-11e6-9aa1-b73bd1915d19.png)

Note that (neste

[2016-05-17 18:31] albell opened #126 "`object-position` and `object-fit` properties don't highlight correctly"
language-css gets it right:
![css-object-properties](https://cloud.githubusercontent.com/assets/1142025/15334364/bac38c56-1c22-11e6-8d36-b65b7478613e.png)
but language-sass doesn't:
![scss-object-propertes](https://cloud.githubusercontent.com/assets/1142025/15334370/c35f9f4e-1c22-11e6-82ec-7329222b7e06.png)

[2016-05-17 19:30] albell opened #127 "enforce a line length limit in source?"
I'm counting over 5200 characters (!) on a single line of source of scss.cson, in property_name.match.

This is arguably error prone. At the very least, it's hard to read diffs, especially in the browser. Not super contributor-friendly.

Would it make sense to break these properties into concatenated strings on separate lines? Or a big template string?

[2016-05-17 20:18] 50Wliu commented on #127
Yes, this would be helpful.  I plan on doing it once I get some of my existing language-sass PRs tested out and merged so as to avoid conflicts.

[code]

[2016-05-31 18:23] kirkas opened #128 "Missing CSS properties"
I've noticed few missing CSS properties:

- align-items
- text-size-adjust
- resize
- appearance
- tap-highlight-color
- justify-content
- background-position-x
- background-position-y
- word-break
- flex
- flex-basis
- flex-direction
- flex-flow
- flex-grow
- flex-shrink
- flex-wrap
- pointer-events

[2016-05-31 20:34] 50Wliu commented on #128
On the latest master only the following are missing in `sass.cson`:
* text-size-adjust
* resize
* appearance
* tap-highlight-color
* background-position-x
* background-position-y
* pointer-events

And `scss.cson`:
* text-size-adjust
* background-position-x
* background-position-y

[2016-06-01 22:12] smlombardi opened #129 "improper scoping of code for theming"
see https://github.com/Briles/gruvbox-atom/issues/3

- note the first 3 commas on color and the last is white.
- The alpha value in the rgba color is magenta if it's 0 but green if its something else.
- hyphenated propetry in transition has a magenta hyphen
- the digit in the transition timing is white while other digits in property values are magenta.

![862c4efa-27fe-11e6-9863-7f3eb0c99aa4](http

[2016-06-07 16:58] #74 closed

[2016-06-07 16:58] #79 closed

[2016-06-08 20:59] #56 closed

[2016-06-08 21:01] #70 closed

[2016-06-08 21:01] #104 closed

[2016-06-08 21:04] #95 closed

[2016-06-08 21:24] #99 closed

[2016-06-09 21:57] lukereative commented on #79
Although this fixes traditional nesting (which is great!) nested @include property lists still break syntax. I thought I was doing something wrong when I was testing this fix but realised it was a slightly different case to what you were fixing.

[code]

![screen shot 2016-06-10 at 9 53 55 am](https://cloud.githubusercontent.com/assets/1415622/15947747/49b740e8-2ef1-11e6-90ed-b0e6f8e70bdc.png)

[2016-06-09 22:54] 50Wliu commented on #79
@lukereative Can you create a new issue for that please?

[2016-06-10 03:52] lukereative opened #132 "Nested @include property break syntax"
Although #79 fixes nesting in properties and property lists, nested @include property lists still break syntax.

[code]

![screen shot 2016-06-10 at 9 53 55 am](https://cloud.githubusercontent.com/assets/1415622/15947747/49b740e8-2ef1-11e6-90ed-b0e6f8e70bdc.png)

[2016-06-10 12:26] #126 closed

[2016-06-13 09:13] esdoppio commented on #128
* `tap-highlight-color` is not in the standard yet, not even a proposed property.
* `text-size-adjust` is still in the draft, and only implemented in iOS Safari.

Maybe these two can wait.

[2016-06-14 01:25] esdoppio commented on #121
In `scss-spec.coffee`,

[code]

Do you mean `:` should be part of the pseudo-class, so it will be highlighted correctly? Should we make it

[code]

[2016-06-14 02:11] 50Wliu commented on #121
I believe what I'm saying is that `pseudo` is incorrectly being tokenized as the property value, as in `color: red`.

Here's the spec in question: https://github.com/atom/autocomplete-css/blob/3949516fc60675b5b63e37a719964976e1a783e2/spec/provider-spec.coffee#L485

[2016-06-14 02:35] esdoppio commented on #121
Isn't it because `pseudo` is indeed not a standard pseudo-class? I just checked; standard pseudo-classes are correctly scoped in SCSS files, nested or not.

![2e65dd08-8f8d-4084-908e-b93e8b73a682](https://cloud.githubusercontent.com/assets/18070858/16029442/88b60a36-321b-11e6-9d10-faf91dfb7868.png)
![3362de75-0fbc-44d0-83df-7a054c0f1344](https://cloud.githubusercontent.com/assets/18070858/16029444

[2016-06-16 03:49] esdoppio commented on #132
The problem is actually caused by the improper pattern of `#at_rule_include`, regardless of nested or not.

[2016-06-16 07:47] esdoppio opened #138 "Immediate highlighting for @mixin and @namesapce"
Right now, `@mixin` isn't highlighted until the first letter of the name of the mixin is typed:

![104db036-c155-4d35-989c-51fadf3cdc15](https://cloud.githubusercontent.com/assets/18070858/16108687/417cc39a-33d7-11e6-8365-6794e22e6f64.png)

Ideally, `@mixin` (and `@namespace`) should be highlighted as soon as you type in the letter `n` to give the author an immediate feedback, like `@include`, `@i

[2016-06-19 02:21] esdoppio commented on #125
Actually, `language-css` also doesn't get it right, `@supports` and the condition are tokenized as selectors.

[2016-06-19 17:12] dustindowell22 opened #140 "Bug: incorrect highlight on the next block when there's no trailing semicolon"
I'm using `sass-linter` to enforce no trailing semicolons. However I encountered this highlighting bug. This is valid SCSS syntax. I'm positive that this is a bug with Atom's highlighter and not the linter.

![img](http://f.cl.ly/items/430H3A1M3Q2W2o1j1d1m/Screen%20Shot%202016-06-19%20at%2011.49.00%20AM.png)

[2016-06-19 18:56] 50Wliu commented on #140
This should be fixed in either Atom 1.9.0 or 1.10.0.

[2016-06-19 18:56] #140 closed

[2016-06-24 16:30] #138 closed

[2016-06-24 17:56] #125 closed

[2016-06-25 01:45] #132 closed

[2016-06-28 00:40] controversial opened #143 "viewport units are not highlighted"
Though units like `px` are highlighted with the number:  ![screenshot 2016-06-27 at 8 38 44 pm](https://cloud.githubusercontent.com/assets/10377391/16400197/3a9b09b4-3ca7-11e6-9bea-1ea42131ae32.png) viewport units are not: ![screenshot 2016-06-27 at 8 38 50 pm](https://cloud.githubusercontent.com/assets/10377391/16400195/38b67fa2-3ca7-11e6-8447-d286bab7929f.png)

I'm using the `.sass` tab-indented

[2016-06-28 00:57] 50Wliu commented on #143
This works for me using language-sass@0.55.0, so I assume this has been fixed.  You should start seeing proper highlighting in Atom 1.10.0.

[2016-06-28 00:57] #143 closed

[2016-06-28 00:58] 50Wliu commented on #129
I have most of these fixed locally except for the `transition` property name highlighting.  That's a bit more difficult than the rest.

[2016-06-28 00:59] controversial commented on #143
Ok. I'm on 1.7.4 now. 1.10 seems like a long way off...

[2016-06-28 04:17] esdoppio opened #145 ": is not tokenized as part of a pseudo-class"
`:` is part of a pseudo-class, as in https://drafts.csswg.org/selectors-3/#pseudo-classes,

It should be tokenized accordingly, but right now (v0.55.0) it is not:

https://github.com/atom/language-sass/blob/master/spec/scss-spec.coffee#L308-L311

[2016-07-06 09:12] bgriffith opened #146 "Map syntax highlighting issues"
Getting some very odd syntax highlighting with map values. It incorrectly highlights valid property value names when they are within variable names.

The code:
[code]

The issue:
![screen shot 2016-07-06 at 10 09 31](https://cloud.githubusercontent.com/assets/2854338/16613002/c7b8f66a-4361-11e6-92a3-a2c862fc62e2.png)

Using Atom 1.9-beta0 and language-sass 0.55

[2016-07-07 11:25] bgriffith opened #148 "Map key syntax highlighting issues"
Possibly related to #146

When you have maps inside maps, all the keys bar the first are incorrectly highlighted. In this example, they take the highlighting of the valid colours.

The code:
[code]

The issue:

![screen shot 2016-07-07 at 12 21 17](https://cloud.githubusercontent.com/assets/2854338/16651657/59b538b8-443d-11e6-90f4-e816bbffafdb.png)

[2016-07-07 13:29] esdoppio commented on #148
Should be fixed in #149. Thanks for the report! 👍

[2016-07-07 20:42] adambuczynski opened #150 "Unicode codes improperly highlighted"
Compare CSS:

![image](https://cloud.githubusercontent.com/assets/490562/16669052/a78eeeda-44e7-11e6-8d1d-f881663b6163.png)

And SASS:

![image](https://cloud.githubusercontent.com/assets/490562/16669062/b0135ee2-44e7-11e6-8b6e-5fbf1989dc29.png)

Code:

[code]

Seems like the last part of the character is missing a `constant.character.escape.css` class. Maybe the fix for this issue can be ported f

[2016-07-07 21:24] bgriffith commented on #148
@esdoppio Awesome. Thanks for the fix 👍

[2016-07-08 10:01] esdoppio commented on #150
Thanks for the tip! 👍

The escape sequences can also be used in single-quoted string, right?

[2016-07-08 10:07] adambuczynski commented on #150
I think so. I happened to get this code from icomoon generated css, so I didn't bother changing it, but normally I use single quotes and unicode sequences can be used there as well.

[2016-07-09 01:57] esdoppio opened #151 "Sass property syntax is not well supported"
This is one way of declaring properties in Sass, by placing `:` before the property name:

[code]
- The colon is not tokenized
- The property names are tokenized as selectors:

![image](https://cloud.githubusercontent.com/assets/18070858/16705395/4bbfd220-45bb-11e6-917b-53c525b00fb5.png)

[2016-07-10 18:06] smlombardi commented on #129
Looking forward to this

[2016-07-15 11:14] 50Wliu commented on #129
Was on vacation and just got back.  Will try to finish this in the next few days.

[2016-07-15 11:50] #146 closed

[2016-07-15 12:42] #128 closed

[2016-07-15 12:43] 50Wliu commented on #145
I feel like I was the one who explicitly changed it to not be part of the pseudo-class...whoops.

[2016-07-16 13:18] esdoppio commented on #151
In `sass.cson`, for properties, the whole key-value pair is tokenized as `meta.property-name.sass` (which makes no sense), whereas in `scss.cson`, only the key part is tokenized as `meta.property-name.scss`.

Should we change `meta.property-name.sass` to `meta.property.sass`?

[2016-07-17 19:30] #148 closed

[2016-07-20 03:00] esdoppio commented on #145
Wanna fix it yourself?

[2016-07-20 13:47] 50Wliu commented on #145
Sure.

[2016-07-20 18:08] #129 closed

[2016-07-20 18:18] 50Wliu commented on #121
Well autocomplete-css here is trying to autocomplete the `a:f` _to_ a pseudo-class `a:first`.  This is problematic because `f` truly isn't a pseudo-class so language-sass would be lying if it tokenized it as one, but then autocomplete-css can't autocomplete it to one.  More thinking needed possibly.

[2016-07-20 19:05] #145 closed

[2016-07-20 21:36] #150 closed

[2016-07-20 21:40] 50Wliu commented on #151
Just to make sure we're on the same page:
[code]

Similarly...
[code]

[2016-07-21 07:16] esdoppio commented on #151
How about:

[code]

or

[code]

[2016-07-22 20:11] albell opened #155 "Alpha floats in color values in functional notation highlight incorrectly."
![scss](https://cloud.githubusercontent.com/assets/1142025/17069712/f44743fa-500c-11e6-84c6-258b4038b221.png)

For reference, in language-css:
![css](https://cloud.githubusercontent.com/assets/1142025/17069713/f6c83dfa-500c-11e6-9306-1e7ab4de88b9.png)

In other words, the "0.5" values should be blue.

[2016-07-22 20:17] albell opened #156 "Multiple floats passed to mixin highlight incorrectly"
Not sure what's going on here. Hopefully the picture tells the story.

![multiple-floats](https://cloud.githubusercontent.com/assets/1142025/17070026/9b6f9d7a-500e-11e6-9e0d-a0987421c58f.png)

[2016-07-22 20:20] 50Wliu commented on #155
This has been fixed and will be out in Atom 1.10.0.

[2016-07-22 20:20] #155 closed

[2016-07-22 20:20] 50Wliu commented on #156
This has already been fixed and will be out in Atom 1.10.0.

[2016-07-22 20:20] #156 closed

[2016-07-22 20:24] albell commented on #155
Great, thank you.

[2016-07-29 18:27] albell opened #157 "comments inside keyframe declarations highlight incorrectly"
![comments-inside-keyframes](https://cloud.githubusercontent.com/assets/1142025/17259211/4cb16ff8-557f-11e6-9996-0f5be22c3e48.png)

[2016-07-31 03:42] esdoppio commented on #157
The problem arises coz the outer block is no tokenized as `meta.property-list.scss` in which the comment rule is included. We can fix this with a simple patch to `#at_rule_keyframes`, but considering the rule is kinda messy and bloated, I think we should rewrite it instead.

[2016-08-05 01:23] adambuczynski opened #159 "Improper parsing of numeric values for `transition` property"
Ref https://github.com/atom/language-css/issues/58

Maybe it's not just `transition` that's affected, but I seem to only notice it there:

![image](https://cloud.githubusercontent.com/assets/490562/15802998/4bc53e18-2b1c-11e6-94a3-c5abbfe2f463.png)

The `.2` is not marked as `constant.numeric` but it should be:

![image](https://cloud.githubusercontent.com/assets/490562/15803001/61edd88a-2b1c-11e6

[2016-08-05 02:01] adambuczynski opened #160 "Support for shorthand numeric values"
Ref: https://github.com/atom/language-css/issues/57

Shorthand for `0.3` which is often used is simply `.3`. However, the language grammar doesn't pick this up properly and doesn't mark the leading `.` as `constant.numeric`:

![image](https://cloud.githubusercontent.com/assets/490562/15802990/cf0b9ebc-2b1b-11e6-8618-651043bde810.png)

[2016-08-05 13:10] SpectralKH opened #161 "[Sass] Some properties with dashes aren't color formatted correctly"
As you see with the first 4 properties, they are correct. However, with the 3 last ones, the whole line turns into one color.

![screen shot 2016-08-05 at 3 08 07 pm](https://cloud.githubusercontent.com/assets/11315492/17437522/6fd6b6d8-5b1e-11e6-9e44-5c59319f30a3.png)

Note that the pictures properties are not wrongly formatted in 0.56.0. Here are the ones that do turn pink:

[code]

[2016-08-05 13:39] SpectralKH commented on #161
List of all properties that have their lines turn pink:

`background-blend-mode:
background-clip:
background-origin:
border-image:
border-image-outset:
border-image-repeat:
border-image-slice:
border-image-source:
border-image-width:
box-decoration-break:
align-content:
align-items:
align-self:
flex:
flex-basis:
flex-direction:
flex-flow:
flex-grow:
flex-shrink:
flex-wrap:
justify-content:
order:

[2016-08-08 15:41] aeschli opened #162 "No colorisation for ellipse tag in Sass"
_From @bastienmoulia on August 8, 2016 9:45_

- VSCode Version: 1.4.0
- OS Version: Win 7

Steps to Reproduce:

1. Create a new file
2. Use the Sass colorisation
3. Write `svg circle, svg ellipse { stroke: red; }`
4. The `ellipse` tag is not well colorised

![ellipse](https://cloud.githubusercontent.com/assets/686196/17479477/05c27cc6-5d73-11e6-9434-0d5505dde9a1.png)

_Copied from original issue:

[2016-08-08 17:43] #157 closed

[2016-08-08 17:50] #162 closed

[2016-08-16 10:31] Yajo opened #165 "Wrong highlight for multiline and ilnline comments"
![captura de pantalla de 2016-08-16 12-30-37](https://cloud.githubusercontent.com/assets/973709/17696217/448b2bfc-63ad-11e6-9220-a2143c3631cd.png)

As you can see above, line 3 gets wrong highlighting.

Inline comment in line 9 too, and that breaks highlight in lines 11-13, as Atom believes it's inside a string.

[2016-08-16 19:53] dirago opened #166 "auto indent doesn't work on Atom"
Hi all,

I'm trying to figure it out why Atom doesn't want to auto-indent a sass file..

I've got Emmet and the package language-sass but when i start a new line, the cursor always returns to the beginning. I have to auto-indent by myself each time.

Anybody have this problem?

[2016-08-16 20:03] dirago commented on #166
I just read previous issues on this problem (my bad), in fact we always have to indent manually all the first property below each selector?

[2016-08-16 20:29] 50Wliu commented on #166
Auto-indentation for `.sass` files is now included starting in Atom 1.10.0-beta0.

[2016-08-16 20:29] #166 closed

[2016-08-18 08:51] esdoppio commented on #165
The tricky part here is the trailing comment.

See this [comment](https://github.com/sass/sass/issues/2122#issuecomment-240574018) and this [thread](https://github.com/sass/sass/issues/326). Turns out comments may be preceded by properties (and more). But we can't know for sure what is before the comment without actually parsing the code, I'm thinking:

* either tokenize all trailing comments as i

[2016-08-18 14:23] 50Wliu commented on #165
When I have time I'll try to tackle this.

[2016-08-18 17:44] albell commented on #161
+1

[2016-08-22 09:38] Yajo commented on #165
:+1:

[2016-08-22 21:03] woodyrew opened #167 "Indentation override issue with default"
My global indentation is set to 4 soft tabs however when I try to set the `Tab Length` for **SCSS** (and I assume **Sass**) to `2`, the input is replaced with `4`.
If I empty the input it displays a grey placeholder of `Default: 2` - This what I want it to be but tabbing and auto-indentation within `SCSS` files continues to use 4 spaces.

If I set `Tab Length` to `1` or `3` it honours my choice, t

[2016-08-23 01:21] 50Wliu commented on #167
This is a duplicate of atom/settings-view#774 - feel free to subscribe there for updates.

[2016-08-23 01:21] #167 closed

[2016-08-23 14:30] woodyrew commented on #167
Sorry for the duplication; I didn't find that issue.

[2016-08-26 09:45] beingmrkenny opened #168 "CSS variable names are highlighted as erroneous code"
### Description

CSS variable names are highlighted as an error when in fact they are valid CSS, regardless of what syntax theme you are using.
### Steps to Reproduce
1. Define a CSS variable in the form `--variable-name: value;`

**Expected behavior:**

The variable name should look like a variable.

**Actual behavior:**

The variable name looks like an error (red background in this theme):

![sy

[2016-08-26 15:58] 50Wliu commented on #168
You're on a very outdated version of Atom - the latest version is currently 1.9.9 and has some fixes for what you're seeing.

[2016-08-26 16:02] beingmrkenny commented on #168
Good spot, had automatic updates switched off for some reason.

Updated to 1.9.9 and still seeing the same issue.

[2016-08-26 16:24] 50Wliu commented on #168
Sorry, should have clarified.  By "currently", I meant the latest version of language-sass, which isn't in any released Atom version yet.

[2016-08-29 23:38] albell opened #170 "add support for CSS 'shape-outside'"
![screen shot 2016-08-29 at 4 34 22 pm](https://cloud.githubusercontent.com/assets/1142025/18070988/d2412664-6e06-11e6-9821-bc23fc596845.png)

![screen shot 2016-08-29 at 4 34 36 pm](https://cloud.githubusercontent.com/assets/1142025/18070991/da367162-6e06-11e6-85c6-af4799687e02.png)

[2016-08-30 11:55] idbartosz opened #171 "@function not supported"
Buggy color formatting in `@function`

![buggy_function_color](https://cloud.githubusercontent.com/assets/21260478/18088059/9a1f06e0-6eb8-11e6-8f08-ccedcd782379.gif)

[2016-08-31 12:02] Nickman87 opened #172 "support for node-modules :global scoping"
I'm using css-modules in my project where I use SASS as a css source. Some css classes have to be kept globally and you can do this by scoping them inside `:global { ... }`.

This does however break the syntax highlighting in Atom:
![image](https://cloud.githubusercontent.com/assets/870416/18127910/7ceaf50e-6f83-11e6-8eb8-4fc027d2a1fd.png)

Is this something you want to support?

[2016-08-31 20:21] 50Wliu commented on #172
As css-modules is not included in the CSS or Scss specs, it wouldn't be appropriate for language-sass to support this.  This is something that would best fit in a community package, eg `language-css-modules`.

[2016-08-31 20:21] #172 closed

[2016-09-02 15:12] controversial opened #173 "Auto-indentation bug"
#115 introduced auto-indentation, which is awesome. However, there's a small bug in the grammar, pressing enter after an `@import` line causes the next line to become auto-indented. I don't know of any features involving indentation after an `@import`, so I'm pretty sure this is a bug.

@50Wliu

[2016-09-02 15:18] 50Wliu commented on #173
Thanks for the report!

[2016-09-02 16:17] controversial commented on #173
There's actually another one as well, @50Wliu:

- Open a `.sass` file
- Press `tab`
- Press enter, and continue pressing enter

Indentation occurs after blank lines with just whitespace. Each time you press enter, the indent level goes up.

This is because your regex is missing a case for whitespace-only lines. Perhaps it should check that the line contains non-whitespace characters.

[2016-09-02 16:20] controversial commented on #173
Bug number 3: Auto-indent is triggered when pressing enter after a comma.

[2016-09-04 19:30] #173 closed

[2016-09-04 19:31] controversial commented on #173
Cool, thanks. Will this be in 1.11 or 1.12?

[2016-09-04 23:09] 50Wliu commented on #173
Probably 1.12.0, but no guarantees.

[2016-09-11 22:47] 50Wliu commented on #159
Cannot reproduce using language-sass@1831686592ddc4ae216d1b0bce19e34ef472671d.

[2016-09-11 22:47] #159 closed

[2016-09-11 22:47] 50Wliu commented on #160
Cannot reproduce using language-sass@1831686592ddc4ae216d1b0bce19e34ef472671d.

[2016-09-11 22:47] #160 closed

[2016-09-11 22:52] adambuczynski commented on #160
Is the latest `language-sass` in Atom master branch already?

[2016-09-11 23:41] 50Wliu commented on #160
Not yet, but I'm planning to do another language update roundup shortly.

[2016-09-12 01:27] adambuczynski commented on #160
Excellent, thanks. I'll re-test the issues when those new versions are in.

[2016-09-15 21:05] idbartosz commented on #171
Close

[2016-09-15 23:04] #171 closed

[2016-09-21 21:37] albell opened #176 "Length units inside feature query tests are mistakenly highlighted as errors"
![feature-queries-css](https://cloud.githubusercontent.com/assets/1142025/18729954/c7c7b9b4-8008-11e6-8ec0-0616298dc3dd.png)
![feature-queries-scss](https://cloud.githubusercontent.com/assets/1142025/18729960/ca690b50-8008-11e6-800f-66cbe6428ff8.png)

[2016-09-22 00:48] 50Wliu commented on #176
Cannot reproduce using ae249e5, assuming fixed.

[2016-09-22 00:48] #176 closed

[2016-09-23 18:15] zdroid opened #177 "Bad parsing of SCSS comments"
I've just noticed this in one of twbs/bootstrap files:
![SCSS comments](https://cloud.githubusercontent.com/assets/2725611/18796568/2eecccc0-81ca-11e6-83ef-ba7d08a5b784.png)

It seems like a perfectly fine syntax and it compiles without any error, yet atom syntax parser parses it wrong.

[2016-09-24 09:48] yogasaikrishna commented on #127
I will do it. What should be the optimal length for the line?

[2016-09-24 14:33] 50Wliu commented on #127
Whatever you think is reasonable should work.

[2016-09-24 15:31] yogasaikrishna commented on #127
How about keeping each property in a separate line. I think it will have better readability (downside is it will increase number of lines)

[code]
 or we can keep all properties starting with same letter on one line like

[code]

[2016-09-24 15:58] esdoppio commented on #127
the second one sounds better. And you need to put `(?x)` (extended mode) in front of the pattern to make it ignore whitespace:

[code]

Try looking at the surrounding code first and keep things (like indentation, placement) consistent 😉

[2016-09-25 02:59] #127 closed

[2016-09-25 02:59] #170 closed

[2016-09-27 18:41] idbartosz opened #179 "Update tag names in accordance with W3C specifications?"
IMHO we should consider to follow W3C references since there's some inconsequence and trash in our grammars, e.g. in _sass.cson_ there are **131** tags in `entity.name.tag.css.sass` while W3C defines:
**108** - HTML
**6** - SVG 1.1
**1** - SVG 2
**31** - MathML

We should keep our tag list:
1. as it is,
2. update to W3C,
1. HTML,
2. HTML + SVG,
3. HTML + SVG + MathML,
4. other ideas.

What do you

[2016-09-28 05:30] thomasjo commented on #179
Wouldn't this necessitate updating attributes as well?

[2016-09-28 05:51] idbartosz commented on #179
Tags were an example, it would also apply to attributes in the long run.

[2016-10-14 18:28] sunjay opened #182 "Miscellaneous CSS Properties Not Tokenized"
I'm using a not-so-well supported CSS property listed under [MDN's CSS Miscellaneous](https://developer.mozilla.org/en-US/docs/Web/CSS/CSS_Miscellaneous) section. I noticed it was highlighted red despite being valid, so I tried all the miscellaneous ones:

![screenshot from 2016-10-14 14-19-39](https://cloud.githubusercontent.com/assets/530939/19398370/4b267f0c-921a-11e6-85ce-f7d3244946fd.png)

No

[2016-10-15 01:03] esdoppio commented on #182
Define "valid." :)

To me, a property appearing in an MDN page or even the Candidate Recommendation doesn't mean anything, if it is not supported by the major browsers. And I'm quite happy that my editor can make unsupported properties stand out for me like this.

[2016-10-15 01:07] sunjay commented on #182
I think the purpose of syntax highlighting should be to make reading code easier and catch common *syntax* errors. None of those properties are misspelled and all of them are in the CSS spec. That's what makes them valid.

As for whether I should use them or not, that's up to me. They shouldn't be highlighted red if they're valid CSS properties, regardless of browser support.

[2016-10-15 03:36] esdoppio commented on #182
Adding properties to the grammar is easy. All the specs are available online, we could add all the properties appear in them to the grammar today. The reasons we don't want to do that are

* The specs, esp. the Working Drafts, are liable to change, we don't want to add things only to remove them later.
* The specs, as their names suggest, are at best, recommendations—they are not mandatory—some fe

[2016-10-15 03:54] sunjay commented on #182
I get what you're saying, but the big red highlight is not a kind reminder. It's a big indication that you're doing something illegal in CSS. That's the troubling part of all of this.

If I include `all: unset` in my CSS, regardless of what browsers support, I'm writing valid CSS. My *syntax* highlighter, whose job is only to check syntax, should not incorrectly mark that as invalid.

Like you sai

[2016-10-15 05:02] esdoppio commented on #182
Yes, we should definitely put it in the grammar.

[2016-10-18 15:00] esdoppio commented on #182
Rule: Add a feature only if at least two of the major browsers have implemented it. What do you think? @50Wliu

[2016-10-18 15:57] 50Wliu commented on #182
This is where it becomes suggestive.  I think properties can be added if:

1. They're standardized
2. Two or more major browsers support it in an unprefixed form
3. There's no reason to assume that they're not going to be standardized in the near future
4. There's no reason to assume that they're going to be deprecated/removed in the near future

[2016-10-19 00:50] esdoppio commented on #182
Can you elaborate on <q>They're standardized</q>? When the spec the feature is in becomes a Recommendation?

How about (both have to be true)
* They are in the Working Draft or above
* Implemented by at least two of the major browsers

Again, it's never really about the standards but the browser support—if the browsers choose not to support the feature, it doesn't mean anything coz people are able

[2016-10-23 01:22] Alhadis commented on #182
I'm sorry, *what*? Since when is that an issue...?

If flexbox proved anything, it's that browser support for budding technologies does *not* guarantee there'll be a breaking revision in future. Conversely, SCSS still supports obsoleted aural properties like `azimuth` and `elevation`, which are not only unsupported, but were hardly ever implemented to begin with.

Let's be practical: it shouldn't

[2016-10-23 02:15] esdoppio commented on #182
Maybe I didn't make my point clear enough. All I wanted to say was: please don't just add a feature because it shows up in a Working Draft or an MDN page, do at least minimal research.

And that's mainly for the package maintainers, not the issue reporter.

And `CSS.supports()` is at your disposal, so it's not that hard for a maintainer to find out the implementation status of a feature. Actually,

[2016-10-23 02:32] Alhadis commented on #182
Nah, for me, it takes less than a second. =)

<img src="https://cloud.githubusercontent.com/assets/2346707/19623761/b4de5030-9924-11e6-9a96-e264c6fe81e1.png" width="805" alt="" />

Anyway, [this](https://github.com/atom/language-css/pull/99) may be of interest to you, @esdoppio. I have included "working draft"-level features in the property-name support, at least the ones that're already seeing br

[2016-10-23 15:53] 50Wliu commented on #182
I tend to agree with this.  Syntax errors are (sometimes) easy to highlight with language packages but as we've seen whitelisting every "supported" property out there tends to be troublesome to maintain.  Use a linter for that.

[2016-10-27 10:55] szimek commented on #161
One more that doesn't work properly is `text-size-adjust`.

[2016-11-04 16:15] abm0 opened #184 "Editor adds extra indent on every new line"
Here is a gif animation of an issue.

![bug](https://cloud.githubusercontent.com/assets/3530199/20013039/c5903392-a2c2-11e6-89ee-c1b68bda189c.gif)

I will be thankful if someone tells me how to disable this behavior.

[2016-11-04 17:21] 50Wliu commented on #184
This should already be fixed in Atom 1.12.

[2016-11-04 17:21] #184 closed

[2016-11-09 09:49] aeschli opened #185 "SCSS highlighter loses track with & and string interpolation"
_From @prencher on November 8, 2016 23:57_

- VSCode Version: 1.7.1
- OS Version: Windows 10

The following does not highlight correctly:
[code]

![example](https://cloud.githubusercontent.com/assets/138147/20122361/f9eaab70-a5cb-11e6-9ecf-a660384d33b4.png)

Expected would be for the entire selector to remain green, and if possible, have the interpolation highlighted individually.

I've tested wit

[2016-11-21 19:11] albell opened #187 "Selectors with escaped special characters highlight incorrectly"
![screen shot 2016-11-21 at 11 02 23 am](https://cloud.githubusercontent.com/assets/1142025/20496642/e3d38e24-afda-11e6-97bc-ed30b5ae6224.png)

![screen shot 2016-11-21 at 11 09 16 am](https://cloud.githubusercontent.com/assets/1142025/20496674/fb697aa8-afda-11e6-8dd8-937c94d49f49.png)

The immediate use case is class libraries that use the @ symbol to target certain breakpoints. It should work re

[2016-11-24 09:07] aeschli opened #188 "Sass/Scss variable syntax"
_From @TheColorRed on November 11, 2016 17:46_

- VSCode Version: 1.7.1
- OS Version: Windows 10

When I create a css variable in scss, I get the following syntax issue:

![scss](https://cloud.githubusercontent.com/assets/1571806/20224471/360eb7e2-a804-11e6-8c01-6698e5eeea87.PNG)

When I convert the file to css, the syntax is correct:

![css](https://cloud.githubusercontent.com/assets/1571806/2022

[2016-11-24 23:31] 50Wliu commented on #188
Thanks for taking the time to contribute!

We noticed that this is a duplicate of #168. You may want to subscribe there for updates.

Because we treat our issues list as [the Atom team's backlog](https://en.wikipedia.org/wiki/Scrum_(software_development)#Product_backlog), we close duplicates to focus our work and not have to touch the same chunk of code for the same reason multiple times. This is

[2016-11-24 23:31] #188 closed

[2016-11-26 09:05] code-tree opened #189 "Custom tag highlighted incorrectly when using attribute selector"
![image](https://cloud.githubusercontent.com/assets/11289719/20639305/030191ae-b3f2-11e6-8ec0-62911fa843dc.png)

Note: md-toolbar is fine when has no attribute selector

[2016-12-17 15:16] lope opened #190 "Valid @import syntax falsely highlighted as an error"
To reproduce, simply paste this into a new **SCSS** file (not SASS)

[code]

The `translate` command and it's parameters are falsely highlighted as an error.

[2016-12-17 16:40] 50Wliu commented on #190
Cannot confirm on master, assuming fixed.

[2016-12-17 16:40] #190 closed

[2016-12-17 19:03] lope commented on #190
Hi, I've updated to the latest version of atom, and now it's not highlighting translate anymore, but it is highlighting webkit.

For example
`@include prefix ((user-select: none), webkit khtml moz ms);`
highlights webkit khtml moz ms

[2016-12-18 00:14] 50Wliu commented on #190
I specifically said master and not the latest version of Atom because there are certain changes on master that have not yet been included in any released versions of Atom yet.

[2016-12-23 21:02] lope commented on #190
Ok thanks.

Some questions if you don't mind :)

* What's the most efficient way to install the master version?
* Should I uninstall the current version then install this one?
* What's the best way to bundle this into a package format?
* Is there a way to do it so that I can seamlessly upgrade when a newer version is released?

[2016-12-31 01:07] 50Wliu commented on #190
There's a variety of ways, some of which may appeal more to you than others:
1. Manually clone this repository into the `~/.atom/packages` folder.
2. Clone this repository somewhere else and execute the `apm link` command inside the repository.
3. `apm dev language-sass` (which clones into `~/github` by default), and then start Atom using `atom --dev`.
4. Copy-paste `https://github.com/atom/langua

[2017-01-05 12:03] julmot opened #193 "Wrong variable highlighting in complex selectors"
### Prerequisites

* [x] Put an X between the brackets on this line if you have done all of the following:
    * Reproduced the problem in Safe Mode: http://flight-manual.atom.io/hacking-atom/sections/debugging/#using-safe-mode
    * Followed all applicable steps in the debugging guide: http://flight-manual.atom.io/hacking-atom/sections/debugging/
    * Checked the FAQs on the message board for co

[2017-01-05 15:29] 50Wliu commented on #193
[code]

[2017-01-11 00:27] aeschli opened #194 "[scss] using round brackets cause highlight errors in next values."
_From @VitorLuizC on January 9, 2017 14:39_

- VSCode Version: Code 1.8.1 (ee428b0eead68bf0fb99ab5fdc4439be227b6281, 2016-12-19T14:49:23.350Z)
- OS Version: Windows_NT ia32 10.0.14393
- Extensions:

|Extension|Author|Version|
|---|---|---|
|vscode-eslint|dbaeumer|1.2.2|
|EditorConfig|EditorConfig|0.3.4|
|vscode-todo|MattiasPernhult|0.8.0|
|typescript-javascript-grammar|ms-vscode|0.0.14|
|vscode-ic

[2017-01-11 00:27] aeschli commented on #194
@VitorLuizC Can you paste the scss snippet to reproduce?

[2017-01-11 00:27] aeschli commented on #194
_From @VitorLuizC on January 10, 2017 12:17_

@aeschli
[code]

[2017-02-07 15:01] aeschli opened #196 "fractional number highlighting issue"
[code]
![image](https://cloud.githubusercontent.com/assets/6461412/22696548/aaee0b32-ed4e-11e6-8453-c5f8be5b5b8e.png)

Note that `0.2` gets funny colors.
It gets scopes
constant.numeric.color.rgb-value.scss, variable.parameter.url.scss, punctuation.separator.delimiter.scss

[2017-02-09 15:37] 50Wliu commented on #196
I wonder if it's worth keeping the hex-value and rgb-value specific stuff around instead of just applying generic numeric highlighting to everything.

[2017-02-09 20:10] 50Wliu commented on #168
This has been fixed in master, thanks to #195.

[2017-02-09 20:10] #168 closed

[2017-02-10 01:11] #177 closed

[2017-02-10 01:13] 50Wliu commented on #185
Looks like this has been fixed:
![correct-interpolation](https://cloud.githubusercontent.com/assets/2766036/22810034/34a7e17a-ef04-11e6-83dd-15ebb9152e75.png)

[2017-02-10 01:13] #185 closed

[2017-02-10 01:14] 50Wliu commented on #187
[code]

[2017-02-10 04:18] 50Wliu commented on #189
[code]

[2017-02-10 04:19] 50Wliu commented on #189
This appears to be somewhat fixed, now `md-toolbar` receives no tokens rather than invalid tokens.

[2017-02-10 15:19] beingmrkenny commented on #168
Do you know when this will make it into a release?

[2017-02-10 17:18] 50Wliu commented on #168
Should be Atom 1.16.  It just missed making it into 1.15.

[2017-02-11 06:20] #196 closed

[2017-02-15 11:10] nene commented on #182
Alternatively this list of valid properties could be customizable. So one could just go to the settings screen and list the non-standard properties one would like to use.

Though I'd really give my vote for leaving this linting-like task out of syntax-highlighting altogether.

[2017-02-23 06:56] aeschli opened #201 "SCSS Not Properly Highlighting font-feature-settings property"
_From @mattbierner on February 22, 2017 7:17_

In a scss file:

[code]

Both `font-feature-settings` and `font-kerning` are split into two sections instead of being a single property:

![screen shot 2017-02-21 at 11 13 10 pm](https://cloud.githubusercontent.com/assets/212305/23200834/65d5cc4a-f88b-11e6-88cf-ed5374a85ffc.png)

![screen shot 2017-02-21 at 11 15 23 pm](https://cloud.githubusercontent

[2017-02-23 14:22] 50Wliu commented on #201
Thanks for taking the time to contribute!

We noticed that this is a duplicate of #161. You may want to subscribe there for updates.

Because we treat our issues list as [the Atom team's backlog](https://en.wikipedia.org/wiki/Scrum_(software_development)#Product_backlog), we close duplicates to focus our work and not have to touch the same chunk of code for the same reason multiple times. This is

[2017-02-23 14:22] #201 closed

[2017-02-24 18:14] #187 closed

[2017-02-24 18:14] #189 closed

[2017-02-24 18:14] #193 closed

[2017-02-24 18:14] #194 closed

[2017-03-10 00:20] Alhadis commented on #182
@50Wliu You can close this: I had to shoot error highlighting in the head to achieve grammar linkage. Consider this solved.

[2017-03-10 00:23] 50Wliu commented on #182
I mean, we should still count them as valid tag names though...

[2017-03-10 00:35] Alhadis commented on #182
Not quite sure I follow, although that might be the fault of my sleep-deprivation more than anything...

[2017-03-10 01:16] 50Wliu commented on #182
Ok I just tested this out and other than initial-letter and initial-letter-align all the names are recognized now.  I think it's safe to close because those two have no browser support as of yet.

[2017-03-10 01:16] #182 closed

[2017-03-15 04:22] 50Wliu commented on #151
Getting back to this late, but yes, :+1: for the second one (with the exception that the `:` is also tokenized as property-value).

[2017-03-17 15:14] #151 closed

[2017-03-18 00:48] SitanHuang opened #204 "SCSS keywords highlighted incorrectly"
### Description

SCSS key word initial and pre-wrap is colored gray instead of white colored like inherit or normal.

### Steps to Reproduce

1. create SCSS

2. put
[code]

3. pre-wrap and initial are not colored as white, `wrap` is colored white but `pre` is colored grey

**Expected behavior:**
initial and pre-wrap all colored as white

**Actual behavior:** [What actually happens]
pre-wrap and in

[2017-03-18 01:15] 50Wliu commented on #204
I believe this has been fixed in the latest language-sass version (0.59.0; currently slated for inclusion in Atom 1.17.0):
![initial-and-pre-wrap](https://cloud.githubusercontent.com/assets/2766036/24067734/d98d858c-0b56-11e7-840a-cda7fc47ae48.png)

[2017-03-18 01:15] #204 closed

[2017-04-18 12:50] obliviga opened #205 "language-sass is deprecated."
You have the core package "language-sass" installed as a community package. See https://github.com/atom/dalek for how this causes problems and instructions on how to correct the situation.
[code]

[2017-04-18 14:09] Ben3eeE commented on #205
You have the core package "language-sass" installed as a community package. See https://github.com/atom/dalek for how this causes problems and instructions on how to correct the situation.

[2017-04-18 14:09] #205 closed

[2017-04-20 20:25] bsmith-cycorp opened #206 "Add support for CSS Custom Properties"
CSS Custom Properties in SCSS files are currently highlighted as errors:

<img width="394" alt="style_scss_ ___git_cyc-adaptable-toolset" src="https://cloud.githubusercontent.com/assets/25161635/25250991/64a953d0-25dd-11e7-90d2-988f11cd92c2.png">

More details on Custom Properties:
[CSS Custom Properties](https://developer.mozilla.org/en-US/docs/Web/CSS/--*)

[2017-04-20 21:59] 50Wliu commented on #206
Please update to the latest Atom version.  This was added in Atom 1.16.0.

[2017-04-20 21:59] #206 closed

[2017-04-20 22:03] bsmith-cycorp commented on #206
Hmm. I checked for updates, and Atom said 1.13.1 was the latest version. Guess that's a bug for a different repo.

[2017-04-21 09:18] aeschli opened #207 "Some SCSS items syntax coloring improperly scoped"
_From @smlombardi on November 28, 2016 21:1_

- VSCode Version: Code - Insiders 1.8.0-insider (2c8ab1a5ffc49ac26b2080bfbbbf9317fb8071bb, 2016-11-28T07:05:06.507Z)
- OS Version: Darwin x64 16.1.0
- Extensions:

|Extension|Author|Version|
|---|---|---|
|material-icon-theme|PKief|1.1.4|
|code-settings-sync|Shan|2.3.8|
|sort-lines|Tyriar|1.1.0|
|html-css-class-completion|Zignd|1.0.3|
|Bookmarks|alefra

[2017-04-21 09:18] aeschli commented on #207
_From @alexandrudima on March 1, 2017 18:14_

I can confirm the punctuation is not getting a specific scope in a variable declaration:

![16172](https://cloud.githubusercontent.com/assets/5047891/23474219/4b0affb0-feb3-11e6-810a-809bc2c553aa.gif)

[2017-04-26 16:31] aar0nr commented on #185
It doesn't work with underscores though.

<img width="424" alt="scss_bug" src="https://cloud.githubusercontent.com/assets/173250/25445351/657a5236-2a6b-11e7-93fb-14c097281578.png">

[2017-04-26 16:55] 50Wliu commented on #185
Please open a new issue.

[2017-04-26 17:25] aar0nr opened #208 "Incorrect syntax highlighting with selector interpolation and underscores"
### Description

<img width="183" alt="scss_bug2" src="https://cloud.githubusercontent.com/assets/173250/25447567/e9731648-2a72-11e7-9d03-c4fe74f65654.png">

**Expected behavior:** I expect the ```__foo``` portion of the selector to be the same color as other selectors.

**Actual behavior:** The selector is colored incorrectly.

### Versions

#### Atom

Atom: 1.16.0
Electron: 1.3.13
Chrome: 52.0.2

[2017-05-11 15:47] dhniels commented on #3
I know this is an old issue but I'm experiencing this same bug in Atom latest version (1.16.0)?

[2017-05-14 08:40] eivindml opened #210 "Missing CSS selectors?"
Looks like there are some missing CSS selectors regarding the css grid property. A lot of stuff around grids are highlighted incorrectly.

<img width="487" alt="screen shot 2017-05-14 at 10 39 19" src="https://cloud.githubusercontent.com/assets/202450/26032351/a1c17ccc-3891-11e7-8a69-39647bd736d1.png">

[2017-05-14 20:18] 50Wliu commented on #210
The CSS property names are inherited from language-css, so would you mind filing an issue there instead?

[2017-05-14 20:18] #210 closed

[2017-05-14 20:55] eivindml commented on #210
Issue filed here: https://github.com/atom/language-css/issues/116

[2017-05-14 21:07] eivindml commented on #210
Looks like it's already added. To `language-css`. https://github.com/atom/language-css/pull/96 (both `grid-gap` and `grid-template-columns` was added.)

Not sure why the syntax highlight is showing up incorrectly.

[2017-05-14 22:16] 50Wliu commented on #210
Then that probably means it hasn't been added to the stable version of Atom yet.

[2017-05-17 07:32] aeschli opened #211 "Grid unit "fr" is not syntax colored as a css unit"
_From @smlombardi on May 16, 2017 18:3_

- VSCode Version: Code - Insiders 1.13.0-insider (613724d43b4d50f6052bbb8007447ca96e687f26, 2017-05-16T06:05:36.739Z)
- OS Version: Darwin x64 16.6.0
- Extensions:

|Extension|Author|Version|
|---|---|---|
|ng-template|Angular|0.1.3|
|code-settings-sync|Shan|2.7.0|
|sort-lines|Tyriar|1.2.0|
|Bookmarks|alefragnani|0.14.1|
|project-manager|alefragnani|0.16.0|

[2017-05-25 00:37] 50Wliu commented on #210
Took a look and these properties should be properly highlighted starting with Atom 1.17.0, which was released a week ago.

[2017-05-25 01:02] #211 closed

[2017-05-25 01:04] 50Wliu commented on #161
All of these should be highlighted if you're using Atom 1.17.0.

[2017-05-25 01:04] #161 closed

[2017-05-26 13:24] smlombardi opened #214 "SCSS placeholders not being scoped consistently"
Steps to Reproduce:

1. SCSS placeholders are not being correctly scoped as `entity.other.attribute-name.placeholder.scss` or `entity.other.attribute-name.placeholder.css` as they are when defined

When used:
![screen shot 2017-05-25 at 3 36 23 pm](https://cloud.githubusercontent.com/assets/835148/26467520/eb0b5164-4160-11e7-9c60-b2842ea1a24f.png)

When defined, correctly scoped and colored:
![scr

[2017-06-06 15:21] smlombardi commented on #214
Update:  oddly, it works correctly **until** you add the line terminator:

### Before:
![screen shot 2017-06-06 at 11 18 56 am](https://user-images.githubusercontent.com/835148/26836965-3696c26a-4aaa-11e7-8c37-fbea01d1e23d.png)

### After:
![screen shot 2017-06-06 at 11 19 18 am](https://user-images.githubusercontent.com/835148/26836985-46a2e85a-4aaa-11e7-9d46-0deb1b6b11d1.png)

[2017-06-07 09:24] aeschli opened #215 "Color for selector is different in css vs scss file"
_From @ramya-rao-a on June 6, 2017 22:39_

- VSCode Version: 1.12.2

![screen shot 2017-06-06 at 3 34 27 pm](https://user-images.githubusercontent.com/16890566/26855097-1294818a-4ace-11e7-9131-1541281128df.png)

Doesn't repro in the below themes
- Abyss
- Monokai
- Monokai Dimmed
- Red
- Solarized Dark and light
- Tomorrow Night below

_Copied from original issue: Microsoft/vscode#28154_

[2017-06-07 09:24] aeschli commented on #215
css uses 'meta.selector', while scss doesn't emit a scope.

[2017-06-07 12:53] aleclarson opened #216 "backdrop-filter support"
The `backdrop-filter` property is highlighted as an error.

I'm on v0.57.1, is this fixed in a newer version?

I noticed v0.59 is released, but I cannot update using Atom.

[2017-06-07 14:38] 50Wliu commented on #216
[MDN](https://developer.mozilla.org/en-US/docs/Web/CSS/backdrop-filter) says that the `backdrop-filter` property is still experimental, and the specification itself is still an Editor's Draft.  Furthermore, none of the major browsers implement an unprefixed version of the keyword.  Therefore, I don't think that we will be adding support for `backdrop-filter` until such a time when the specificatio

[2017-06-07 14:38] #216 closed

[2017-06-08 03:27] #207 closed

[2017-06-08 03:31] 50Wliu commented on #215
[code]

[2017-06-08 03:31] 50Wliu commented on #215
Duplicate of #29.

[2017-06-08 03:31] #215 closed

[2017-06-08 03:32] 50Wliu commented on #208
[code]

[2017-06-08 03:58] #214 closed

[2017-06-26 04:11] aeschli opened #218 "Multiple attribute selectors do not work"
_From @Lor-Saba on June 23, 2017 9:7_

- VSCode Version: Code 1.13.1 (379d2efb5539b09112c793d3d9a413017d736f89, 2017-06-14T18:18:03.540Z)
- OS Version: Linux x64 4.8.0-36-generic
- Extensions:

|Extension|Author|Version|
|---|---|---|
|html-symbols|DiegoMolina|0.0.2|
|triggertaskonsave|Gruntfuggly|0.1.2|
|material-icon-theme|PKief|2.0.9|
|html-css-class-completion|Zignd|1.7.0|
|html-snippets|abusa

[2017-06-26 04:11] aeschli commented on #218
Reproduced with
[code]

[2017-07-04 01:44] aleclarson opened #219 "[Request] Add a setting for allowing experimental properties"
Currently, properties like `backdrop-filter` are highlighted as errors.

Since I use [autoprefixer](https://github.com/postcss/autoprefixer), I'd like to prevent the red highlight on those properties.

[2017-07-08 19:06] aleclarson opened #220 "Right paren followed by subtraction causes error highlighting"
Example:
[code]

The subtraction symbol `-` is highlighted red by `language-sass`.

[2017-07-08 20:47] 50Wliu commented on #220
Assuming fixed by #212.  Apologies for the delay in getting that into a released version of Atom.

[2017-07-08 20:47] #220 closed

[2017-07-11 08:37] pierreneter commented on #218
This error from: https://github.com/atom/language-sass/blob/master/grammars/scss.cson#L1415 It overwrite https://github.com/atom/language-sass/blob/master/grammars/scss.cson#L981
Source from: https://github.com/atom/language-css/blob/master/grammars/css.cson#L1433
And: https://github.com/atom/language-css/blob/master/grammars/css.cson#L2001
We should catch ":" and "{" to distinguish the difference

[2017-07-11 09:53] aeschli opened #221 "No support for pseudo classes/elements"
_From @smlombardi on July 6, 2017 14:22_

- VSCode Version: Code - Insiders 1.14.0-insider (767eea03270f924b27d363a97dded3aff9f9e92a, 2017-07-05T18:51:17.228Z)
- OS Version: Darwin x64 16.6.0
- Extensions:

Extension|Author (truncated)|Version
---|---|---
ng-template|Ang|0.1.4
vscode-markdownlint|Dav|0.9.1
code-settings-sync|Sha|2.8.2
sort-lines|Tyr|1.3.0
Bookmarks|ale|0.15.2
project-manager|ale|0

[2017-07-18 21:24] #221 closed

[2017-07-18 22:22] #218 closed

[2017-07-20 01:35] aeschli opened #226 "Color for 'cursor' for sass (SCSS) is wrong"
_From @Binaryify on July 18, 2017 7:24_

- VSCode Version:1.14.1
- OS Version: 10.12.5
'cursor' had wrong color in SCSS file, but in the css file it had right color
![image](https://user-images.githubusercontent.com/12221718/28305141-1a491574-6bcd-11e7-8e66-bf9c342983ec.png)
![image](https://user-images.githubusercontent.com/12221718/28305153-21d9d08a-6bcd-11e7-8292-d0aca564563c.png)
 The 'cursor'

[2017-07-20 05:06] 50Wliu commented on #165
Line 3 has been fixed.

[2017-07-20 19:54] danqing opened #228 ":not operator breaking following highlights"
<img width="389" alt="screen shot 2017-07-20 at 12 52 42 pm" src="https://user-images.githubusercontent.com/5134133/28436061-8090c5ec-6d4a-11e7-9496-211200b2ae40.png">

GitHub does it right:

[code]

[2017-07-20 20:02] 50Wliu commented on #228
Fixed by #222.

[2017-07-20 20:02] #228 closed

[2017-07-22 02:09] Rockster160 opened #229 "Incorrect syntax highlighting for `:not()` selectors"
### Description

Syntax highlighting for `:not()` selector is off, and breaks highlighting for immediately following selectors.

### Steps to Reproduce
1. Use the `:not()` selector, regardless of attachment to any other selectors.

**Expected behavior:** Highlight the same way other computed selectors do:
<img width="163" alt="screen shot 2017-07-21 at 8 03 41 pm" src="https://user-images.githubus

[2017-07-22 17:39] 50Wliu commented on #229
Fixed by #222.

[2017-07-22 17:39] #229 closed

[2017-08-10 15:31] aeschli opened #230 "SCSS syntax coloring error: "cursor" identified as selector entity instead of property name."
_From @patoezequiel on June 21, 2017 5:32_

- VSCode Version: Code 1.13.1 (379d2efb5539b09112c793d3d9a413017d736f89, 2017-06-14T18:21:47.485Z)
- OS Version: Windows_NT ia32 10.0.15063
- Extensions:

|Extension|Author|Version|
|---|---|---|
|vetur|octref|0.7.0|
|vuehelper|oysun|0.1.0|
|vscode-icons|robertohuertasm|7.9.0|;

---

Inside SCSS files, the `cursor` property is being colored like a select

[2017-08-10 15:31] aeschli commented on #230
_From @jbw91 on July 11, 2017 22:6_

I can confirm this is an issue. It's happening with me as well.

[2017-08-10 17:31] 50Wliu commented on #230
Duplicate of your own #226 :wink:.

[2017-08-10 17:31] #230 closed

[2017-08-15 13:15] aeschli opened #231 "'$=' in attribute selector is highlighted as invalid"
_From @nbar1 on June 9, 2017 16:29_

1. Open a SCSS file with the following content:
[code]
2. See that syntax highlighting is incorrect vs. using a CSS filetype: the '$' gets the scope `invalid.illegal.scss`. `$=` is a valid operator in a [attribute selector](https://developer.mozilla.org/en-US/docs/Web/CSS/Attribute_selectors).
3. This is a new issue introduced with a recent update

<img width="

[2017-08-15 13:15] aeschli commented on #231
_From @FynnZW on June 12, 2017 12:51_

Can confirm - additionally, certain selectors are getting a different color:
[code]
This happens even with all extensions disabled.

OSX Sierra
VSCode Version 1.13.0 (1.13.0)

[2017-08-15 13:15] aeschli commented on #231
_From @ramya-rao-a on June 12, 2017 18:10_

Also, `content` and `cursor` are in a different color in scss file

![image](https://user-images.githubusercontent.com/16890566/27048196-c3d300b2-4f5f-11e7-9c40-b061f7101055.png)

[2017-08-15 20:59] 50Wliu commented on #231
@aeschli I would really appreciate it if after moving the issue over you could change the title to better reflect the issue and, if needed, add an additional comment summarizing what the issue is.  As it stands, I'm not sure what I'm looking at and what the bug is.

[2017-08-16 07:08] aeschli commented on #231
@50Wliu Sorry for that. I update the description.

[2017-08-22 01:29] #231 closed

[2017-09-08 13:28] aeschli opened #233 "SCSS: "content" is not scoped correctly"
_From @smlombardi on September 7, 2017 14:56_

- VSCode Version: Code - Insiders 1.16.0-insider (787b31c0474e6165390b5a5989c9619e3e16f953, 2017-09-05T20:47:12.741Z)
- OS Version: Darwin x64 16.7.0
- Extensions:

Extension|Author (truncated)|Version
---|---|---
ng-template|Ang|0.1.7
code-settings-sync|Sha|2.8.3
sort-lines|Tyr|1.3.0
html-snippets|abu|0.1.0
Bookmarks|ale|0.16.0
project-manager|ale|0.

[2017-09-08 13:28] aeschli commented on #233
@smlombardi Please always paste your sample code as well.

Reproduced with
[code]

[2017-09-08 19:05] 50Wliu commented on #233
This is the same bug as #226.

[2017-09-15 18:37] 50Wliu commented on #233
Closing as duplicate of #226.  When that's fixed this one will be as well.

[2017-09-15 18:37] #233 closed

[2017-10-19 20:12] adamreisnz opened #235 "`cursor` property has missing scope"
### Prerequisites

* [x] Put an X between the brackets on this line if you have done all of the following:
    * Reproduced the problem in Safe Mode: http://flight-manual.atom.io/hacking-atom/sections/debugging/#using-safe-mode
    * Followed all applicable steps in the debugging guide: http://flight-manual.atom.io/hacking-atom/sections/debugging/
    * Checked the FAQs on the message board for co

[2017-10-19 21:16] 50Wliu commented on #235
Fixed by #234.

[2017-10-19 21:16] #235 closed

[2017-10-26 07:02] aeschli opened #237 "SCSS: Tags nested inside rules are not styled as tags"
0.61.2

Steps to Reproduce:

1.  Using code such as

[code]
2. The `h3` is not colored as a tag:

<img width="341" alt="screen shot 2017-10-25 at 2 12 52 pm" src="https://user-images.githubusercontent.com/835148/32015286-a125be12-b98e-11e7-9647-59ede2a6d0e7.png">

This is a regression.

_Copied from original issue: Microsoft/vscode#36923_

[2017-10-26 08:03] 50Wliu commented on #237
Thanks, looks like we lack enough spec coverage for nested selectors.

[2017-10-26 08:05] #237 closed

[2017-10-30 14:03] smlombardi opened #239 "Pseudo-classes are no longer correctly scoped"
In VSCode insiders, in a nested item like this:

[code]

The `&:hover` is not correctly colored:

<img width="438" alt="screen shot 2017-10-30 at 10 02 01 am" src="https://user-images.githubusercontent.com/835148/32174847-6643cdce-bd59-11e7-9c59-b37aca6cb7dc.png">

the `:active` **is** correctly colored

This is a regression, it used to work fine..

[2017-10-30 14:04] 50Wliu commented on #239
I am going to assume this was caused by #234, which was reverted in #238.

[2017-10-30 14:04] #239 closed

[2017-10-31 13:29] paddotk opened #240 ":not() pseudoselector breaks coloring"
When using the :not() pseudoselector (e.g. `.classname1:not(.classname2) { }`) the coloring of the stuff after it, until the closing bracket, is wrong, seemingly because the package doesn't recognize this as valid SCSS. See screenshot.

![sass](https://user-images.githubusercontent.com/11683974/32225893-3b2c3b78-be47-11e7-977b-79091465eaed.png)

I'd much appreciate support for this could be added!

[2017-10-31 14:55] 50Wliu commented on #240
Looks like this got fixed somewhere along the way.
![scss-not](https://user-images.githubusercontent.com/2766036/32230609-daf88538-be53-11e7-9c9d-c7f08fb713e8.png)

[2017-10-31 14:55] #240 closed

[2017-11-01 16:22] paddotk commented on #240
@50Wliu Not sure what you mean? My package is up-to-date.

[2017-11-01 17:49] 50Wliu commented on #240
Atom's bundled packages do not automatically update and are updated when Atom itself is updated.  So this issue will most likely be fixed when Atom 1.22.0 is released.

[2017-11-02 09:29] paddotk commented on #240
Ah ok, thanks. Will wait for the new Atom then :)

[2017-11-02 14:32] aeschli opened #241 "Wrong tokenization of extended scss class names"
_From @Croccifixio on November 1, 2017 20:36_

- VSCode Version: Code 1.17.2 (b813d12980308015bcd2b3a2f6efa5c810c33ba5, 2017-10-16T13:57:00.652Z)
- OS Version: Linux x64 4.13.0-16-generic

---

Steps to Reproduce:

1. Create a class rule in an SCSS file.
2. Extend the class using nesting and an `&`.
3. Begin the name of the extension to the class with 2 or more hyphens.

![screenshot from 2017-11-

[2017-11-02 14:32] aeschli commented on #241
_From @maxibanki on November 1, 2017 22:47_

We appreciate it, that you want to contribute, but please read the information in the file header:
https://github.com/Microsoft/vscode/blob/80efcf5fdee32f7249ad23011a2abc4254fc19de/extensions/scss/syntaxes/scss.json#L2-L6
So create a PR there. :)

[2017-11-08 19:08] smlombardi commented on #237
@50Wliu When is this fix going to filter down to VSCode insiders?

[2017-11-08 20:33] 50Wliu commented on #237
@smlombardi That is a question you should be asking VSCode maintainers, not me :).

[2017-12-17 00:55] dsifford commented on #172
@50Wliu Agree this isn't an issue for atom, but for vscode this is a huge issue. The SCSS language is built-in and cannot be overwritten (to my knowledge) without compiling a custom insiders release.

So can we perhaps reopen this discussion? What would it hurt to add in support for this?

[2017-12-18 16:16] 50Wliu commented on #172
@dsifford does VSCode not support community language packages?  Can you not install community packages that inject rules or override tokenization for specific filetypes?  I try to make Atom's language packages as compatible as possible with both VSCode and Linguist, but I'm still of the belief that css-modules has no place in language-sass as it isn't part of the spec.  What it would hurt is long-

[2017-12-18 17:47] dsifford commented on #172
@50Wliu I hear ya.

I could be severely misguided, but I am under the assumption that VSCode does not allow people to override or extend the built-in languages. The only thing that is allowed is adding languages that do not exist in the built-ins. (Maybe @bpasero could clarify this?)

After thinking about this some more, I still think that the few additional scopes could be added as they do not co

[2017-12-18 17:52] dsifford commented on #172
Having said all that, I suppose if it comes down to it, all I'd really need to do to cure my compulsiveness when it comes to having raw, uncolorized tokens in my grammar would be to set `:global` and `:local` as  variables and the various functions/properties as mixins and interpolate it. Way less than ideal, but an acceptable worst-case scenario.

[2017-12-19 21:13] 50Wliu commented on #172
With holidays approaching I won't be able to get to this until next year.

[2017-12-22 18:55] usernamehw commented on #226
Also applies to `mask`, `content`, `filter`, `font`
[code]

[2018-01-11 09:08] jwssnr opened #244 "autoremoving white space between property and value"
Since not so long ago Atom automatically removes white space between property and value in sass, when choosing recommanded (autocomplete) value. See gif attached. I’m not sure this is an issue of this package, but I’ve allready disabled all community packages.

![white-space-bug](https://user-images.githubusercontent.com/2124668/34817100-3e273d2a-f6b7-11e7-9282-32d92987dcba.gif)

[2018-01-11 19:58] jwssnr commented on #244
I’m really sorry for posting this issue. I just had to switch off and on the core package **autocomplete-css**.

[2018-01-11 19:58] #244 closed

[2018-01-12 17:02] lee-dohm commented on #172
@dsifford I agree with @50Wliu that it wouldn't be appropriate for us to add support for this, especially since the workaround is rather simple for Atom. I also don't think it is appropriate for us to add a workaround in our code in whatever package, however minor, for what appears to be solely a VSCode problem. If you have an issue with VSCode, the appropriate place for you to discuss it is on th

[2018-01-12 19:13] dsifford commented on #172
@lee-dohm Fair enough. Thanks for the response.

[2018-01-26 13:10] johann1301h opened #245 "Mixin autocomplete/suggest parameters/arguments"
It would be great if atom would show all possible arguments when typing in a call to a mixin.

I seldom have complete overview over how many arguments the mixin takes, or what the arguments are called.

Is there already a thread on this topic somewhere for sass?

[2018-02-05 08:20] adamreisnz opened #246 "Incorrect highlighting for nth-child selectors"
### Prerequisites

* [x] Put an X between the brackets on this line if you have done all of the following:
    * Reproduced the problem in Safe Mode: http://flight-manual.atom.io/hacking-atom/sections/debugging/#using-safe-mode
    * Followed all applicable steps in the debugging guide: http://flight-manual.atom.io/hacking-atom/sections/debugging/
    * Checked the FAQs on the message board for co

[2018-02-07 01:54] adamreisnz commented on #246
There seem to be some more cases involving ampersand usage where selectors are no longer properly recognised:

![image](https://user-images.githubusercontent.com/490562/35894288-be19f7c4-0c16-11e8-9b28-aa3e131e4277.png)

[2018-02-07 04:00] adamreisnz commented on #241
Not sure if this is the right issue to post this, but there seem to be quite a few issues with incorrect scopes in the last version of language-sass when nesting;

![image](https://user-images.githubusercontent.com/490562/35897886-5959ad4a-0c28-11e8-9786-4834f1ba3a38.png)

[2018-02-12 02:36] #179 closed

[2018-02-16 22:30] adamreisnz opened #248 "Non word characters not respected"
Dash is present in non word characters:

![image](https://user-images.githubusercontent.com/490562/36332107-ba8ca5f4-13d5-11e8-9858-5412908ffc5e.png)

Yet double clicking on `right` in `border-right` selects the whole thing instead of just `right`:

![image](https://user-images.githubusercontent.com/490562/36332141-da2a52c6-13d5-11e8-84f9-e401f07d5456.png)

It doesn't seem like the setting is resp

[2018-02-21 18:28] graygilmore commented on #248
This was possible introduced here: https://github.com/atom/language-sass/commit/bbb8247223b3ea388b2cbf8eb14bf946e609f856

[2018-02-21 20:01] aeschli opened #249 "Scss nested namespaces error in vs-code."
_From @okram69 on February 21, 2018 16:54_

### Issue Type
Bug

### Description
Vs-Code highlight the nested css namespaces as errors:
For example:

.foo{
    margin: {
       left: 10px;
       right: 5px;
       bottom: 2px;
   }
}

### VS Code Info

VS Code version: Code 1.20.1 (f88bbf9137d24d36d968ea6b2911786bfe103002, 2018-02-13T15:33:21.935Z)
OS version: Windows_NT ia32 6.1.7601

<details>
<

[2018-02-21 20:01] aeschli commented on #249
_From @RMacfarlane on February 21, 2018 19:14_

I haven't been able to repro
![screen shot 2018-02-21 at 11 08 36 am](https://user-images.githubusercontent.com/3672607/36499936-96067442-16f7-11e8-9f97-3184668e22a9.png)
Does your file have the extension .scss? If it is just .css, the error is expected

[2018-02-21 20:01] aeschli commented on #249
_From @okram69 on February 21, 2018 19:38_

Yes it does... but now I've seen were is the problem.
If you don't put a space between the colon and the open curly brace it fires the error.
It should't, am I wrong?

[2018-02-21 20:01] aeschli commented on #249
_From @RMacfarlane on February 21, 2018 19:53_

@aeschli Do you know if this space is required?

[2018-02-21 20:01] aeschli commented on #249
It shouldn't matter if there is a space or not. Moving to https://github.com/atom/language-sass

[2018-02-21 20:03] aeschli commented on #249
Sorry, problem in VSCode, closing

[2018-02-21 20:03] #249 closed

[2018-03-05 03:04] controversial commented on #165
Any update on the line 9 issue? I find myself awkwardly phrasing my inline comments to avoid using contractions with apostrophes because I know it'll break Atom's highlighting.

[2018-03-22 01:06] wfendler commented on #248
I had the same problem. For anyone trying to solve this you can go to "Settings > Packages" and either scroll down to the core packages or search for "language-sass" (or whatever language your non word characters aren't working in) and change it in that particular language's settings page.

[2018-03-28 07:55] aeschli opened #250 "Wrong syntax highlighting for property following nested properties"
_From @ramya-rao-a on March 27, 2018 18:57_

- VSCode Version: 1.21
- OS Version: Any

Steps to Reproduce:

1. Have the below content in a scss file. Observe the last property is in white

![image](https://user-images.githubusercontent.com/16890566/37988531-fd376f8a-31b5-11e8-9f87-751b06539cec.png)

_Copied from original issue: Microsoft/vscode#46753_

[2018-03-28 07:55] aeschli commented on #250
@ramya-rao-a Please always paste the sample code to speed up the investigations.
[code]

[2018-05-09 23:25] bhhaskin opened #252 "<unknown> is deprecated."
You have the core package "language-sass" installed as a community package. See https://github.com/atom/dalek for how this causes problems and instructions on how to correct the situation.
[code]

[2018-05-10 00:17] rsese commented on #252
Thank you for the report!

The README linked in the report gives you instructions on the steps you need to take to get rid of this deprecation https://github.com/atom/dalek#i-got-a-warning-what-do-i-do

[2018-05-10 00:17] #252 closed

[2018-05-15 19:33] adamreisnz commented on #248
@graygilmore hah, you're right, there's in fact apparently three distinct fields now, how strange! This indeed resolves the issue, thanks.

[2018-05-22 12:25] tidjay opened #253 "Custom element with double dash"
Custom element with double dash don't color properly:
<img width="326" alt="screen shot 2018-05-22 at 14 04 55" src="https://user-images.githubusercontent.com/2427177/40361353-593467fe-5dc9-11e8-86fe-f3455eb027aa.png">

[2018-06-12 12:18] thismarcoantonio commented on #226
There is any update to this? I still getting the wrong highlight for `cursor`, `content` and `mask` properties

[2018-08-14 07:19] aeschli opened #254 "[SCSS] Syntax highlighting is broken when using ::ng-deep followed by a class"
_From @Nxt3 on July 25, 2018 23:47_

- VSCode Version: 1.26.0-insiders

Syntax highlighting seems to get funky around things like `::ng-deep`, which is used in Angular2+.

<img width="430" alt="screen shot 2018-07-25 at 7 44 36 pm" src="https://user-images.githubusercontent.com/2940826/43233310-42540344-9043-11e8-987a-e6d65691a1f2.png">

<img width="614" alt="screen shot 2018-07-25 at 7 44 45 pm"

[2018-08-14 07:19] aeschli commented on #254
_From @octref on August 6, 2018 18:59_

Can you list all the things that Angular CSS deviate from the standard CSS? `my-tile` is not a HTML 5 tag name, is it for your custom components? Also `::ng-deep` is not a standard pseudo element.

[2018-08-14 07:19] aeschli commented on #254
_From @Nxt3 on August 13, 2018 20:1_

It's really just `::ng-deep`. `my-tile` is the name of a custom component in Angular and could be whatever I named the component.

[2018-08-16 15:15] aeschli opened #255 "[SCSS] Syntax highlighting of @function"
_From @ventrebleu on August 16, 2018 0:8_

- VSCode   ##Version:  Version 1.26.0 (1.26.0)
- OS Version: MacOS 10.12.6

Apparently, VS Code doesn't support syntax highlighting for `@function` or `@return`
 in SCSS.

_Copied from original issue: Microsoft/vscode#56513_

[2018-08-16 15:15] aeschli commented on #255
![image](https://user-images.githubusercontent.com/6461412/44212217-0f981d80-a16b-11e8-94ac-47d11c837e77.png)

Works for me. Can you give more details?

[2018-08-16 15:15] aeschli commented on #255
_From @ventrebleu on August 16, 2018 15:8_

@aeschli Thanks for your reactivity!

I did a bit more research and it appears to be that here:
<img width="850" alt="vscode-scss" src="https://user-images.githubusercontent.com/2122637/44217019-4bab8e00-a12b-11e8-8b09-41871212f51c.png">

It's the `@error` line that causes the problem: if I add a `;` everything is back to normal.
Intended behavior?

Than

[2018-08-18 12:34] 9585999 opened #256 "Syntax highlighting of @apply TailwindCss"
Hi, can you add `@tailwind / @apply` keywords so that it is selected as a directive?

![img 2018-08-18 15 33 32](https://user-images.githubusercontent.com/16165904/44299319-1d30dd00-a2fc-11e8-8026-254fdb68d7f9.PNG)

[2018-09-13 21:00] aeschli opened #257 "No highlighting for strings in attribute selectors"
In the following example, the string content (`xd`) isn't highlighted.

[code]
![image](https://user-images.githubusercontent.com/6461412/45515552-c5757c80-b7a8-11e8-9b50-744cc8fbd0b2.png)

[2018-10-30 15:10] alexr00 opened #262 "SCSS syntax highlightning"
_From @dnemoga on October 26, 2018 11:18_

Issue Type: <b>Bug</b>

Can you improve SCSS syntax highlightning? I frequently use nested rules such as
[code]
and them look pretty odd. I tried to switch between different color themes, and SCSS is shown badly with any of them.

VS Code version: Code 1.28.2 (7f3ce96ff4729c91352ae6def877e59c561f4850, 2018-10-17T00:23:51.859Z)
OS version: Windows_NT x64 1

[2018-10-30 15:10] alexr00 commented on #262
_From @vscodebot[bot] on October 26, 2018 11:18_

(Experimental duplicate detection)
Thanks for submitting this issue. Please also check if it is already covered by an existing one, like:
- [SCSS parser have problems with trailing commas (#57858)](https://www.github.com/Microsoft/vscode/issues/57858)

[2018-10-30 15:10] alexr00 commented on #262
@dnemoga, can you show an example of what you think it should look like? I am not familiar with SCSS and it looks like it's highlighting similar to CSS.

[2018-10-30 15:10] alexr00 commented on #262
_From @dnemoga on October 30, 2018 11:11_

@alexr00, looks like built-in SCSS extension has no support for some modern properties.

![vscode-scss-highlightning](https://user-images.githubusercontent.com/695040/47714281-223bd200-dc45-11e8-8be7-b4596b3e2e65.png)
![vscode-scss-correct-highlightning](https://user-images.githubusercontent.com/695040/47715295-0980eb80-dc48-11e8-8924-251e2e732f49.png)

[2018-11-07 09:23] alexr00 opened #263 "Scss grammar support for Range-Format Media Queries"
_From @onetrev on November 6, 2018 23:32_

If you are using Dart Sass, which is the recommended version of Sass to use now, you can now use Range-Formate Media Queries. However if you use them as specified, the grammar doesn't recognize it. For example doing this:

[code]

Thank you!

_Copied from original issue: Microsoft/vscode#62686_

[2019-01-04 09:42] alexr00 opened #264 "Sass TM language: `content`, `cursor`, `backdrop-filter` properties"
_From @atomiks on December 22, 2018 2:19_

- VSCode Version: 1.30.1
- OS Version: macOS 10.14.1

1. The Sass TM language is scoping these properties with `entity.name.tag` instead of `support.type.property-name`:

- `cursor`
- `content`

Which makes them a different color from other properties

2. The regular CSS and Sass languages are missing the `support.type.property-name` scope for the `backdr

[2019-01-04 09:43] alexr00 commented on #264
_From @usernamehw on December 22, 2018 10:30_

The first part is a duplicate of https://github.com/atom/language-sass/issues/226

[2019-01-07 10:06] alexr00 opened #265 "Root-level @at-root selector in SCSS partial causes false syntax errors"
_From @briman0094 on January 3, 2019 15:54_

When placing an `@at-root` directive at the root-level of a SCSS file, Visual Studio Code's tokenizer seems to break completely, highlighting the `@at-root` and most other SCSS features in the proceeding block as syntax errors. Normally the `@at-root` selector would be useless at the root-level, but in a partial file which is included inside a selector

[2019-01-10 22:31] rsese commented on #265
Thanks for the report!

Just to clarify @alexr00 and @briman0094, can either of you point out exactly where the highlighting issue is?  This is what I see on Atom 1.34.0:

![examples-highlighting](https://github-slack.s3.amazonaws.com/monosnap/_testpartial.scss__worktest-tree-sitter_2019-01-10_16-29-11.png)

[2019-01-11 09:07] gerasimvol commented on #226
`caret-color` same bug

[2019-01-16 16:19] briman0094 commented on #265
The highlighting is fine, but there are several false syntax errors reported by the language service that are not actual errors reported by SCSS. My screenshot at the end of the issue shows this happening in VSCode.

[2019-01-17 02:21] briman0094 commented on #265
I originally filed the issue over at Microsoft/vscode#65976 and it was moved here. I'm guessing it should have remained at VSCode instead; I can comment to have it reopened

[2019-01-17 08:48] alexr00 commented on #265
Thank you for checking. I misunderstood the original issue!

[2019-01-17 08:48] #265 closed

[2019-01-17 18:57] rsese commented on #265
np thanks @alexr00 @briman0094 :v:

[2019-03-16 02:59] onetrev commented on #263
I know that are a lot of issues on this list @alexr00 but just wondering if there is any chance this one might be coming in the near future? It's a major bummer that fully legal Sass code has been creating linter errors for the past 6 months. Thanks!

[2019-07-06 09:19] #245 closed

[2019-08-14 20:29] pgrantmartello commented on #226
The relevant line of code causing this is here: https://github.com/atom/language-css/blob/master/grammars/css.cson#L2073

[2019-08-14 20:57] jdsteinbach commented on #226
It appears that `content`, `cursor`, `filter`, `font`, `mask` are mis-highlighted in `scss`; possibly related to the [`property-names`](https://github.com/atom/language-css/blob/master/grammars/css.cson#L1488) vs [`tag-names`](https://github.com/atom/language-css/blob/master/grammars/css.cson#L2056) overlap

[2019-08-15 10:38] cssinate commented on #226
@gerasimvol - it appears the same, but it isn't. caret-color should be listed in here, but it isn't. https://github.com/atom/language-css/blob/master/grammars/css.cson#L2056

I would guess it's probably because that property is still a recommendation, and not a final draft, but they might accept a PR adding it in. You should try adding it!

[2019-08-15 13:18] pgrantmartello commented on #226
It looks like @dsifford fixed this two years ago. Either it was not fixed properly, or the bug has come up again.

https://github.com/atom/language-sass/pull/234

[2019-08-15 13:20] cssinate commented on #226
It looks like @dsifford tried to fix this two years ago. Either it didn't fix it, or the problem has come back again for some reason.

https://github.com/atom/language-sass/pull/234

[2019-08-15 13:24] Aerijo commented on #226
@cssinate The PR history shows that it caused another error (#237), and so was reverted in #238

[2019-08-15 13:31] cssinate commented on #226
@Aerijo - good catch. Sorry I missed it. I don't think I have the skills to go and fix the problem. But it seems like the logic should be:

"If the string is followed by a `:` and that `:` is not followed by one of the pseudo-elements or pseudo-selectors, then it's a property."

[2019-08-16 20:14] cssinate commented on #226
I attempted a pull request with a fix for this issue, but the tests are failing. I don't know enough about the tests to understand what they're complaining about. It seems like it breaks because it doesn't like the name or the scope that `font` has. However, font is both a valid property name and a valid (though deprecated) HTML tag. If someone has some insight about where we can go from here, I'm

[2019-09-17 10:10] burtek commented on #250
Same here.

![image](https://user-images.githubusercontent.com/2940958/65032608-c3a64200-d943-11e9-93cc-99f6bd4f082e.png)
![image](https://user-images.githubusercontent.com/2940958/65032612-c5700580-d943-11e9-8043-3021643a44a1.png)

GitHub syntax highlighting is also affected:

[code]

[code]

Taken from: https://github.com/microsoft/vscode/issues/81038

[2019-09-26 14:33] s-g-k opened #267 "Syntax highlighting of @each directive inside .vue style block"
### Prerequisites

* [ ] Put an X between the brackets on this line if you have done all of the following:
    * Reproduced the problem in Safe Mode: <https://flight-manual.atom.io/hacking-atom/sections/debugging/#using-safe-mode>
    * Followed all applicable steps in the debugging guide: <https://flight-manual.atom.io/hacking-atom/sections/debugging/>
    * Checked the FAQs on the message board

[2019-09-26 14:42] s-g-k commented on #267
![2019-09-26-161013_1032x1094_scrot](https://user-images.githubusercontent.com/2622647/65698297-957bdd00-e07c-11e9-9aa0-e5376a8f4f0e.png)
Screenshot of syntax highlighting breaking

[2019-10-04 18:54] rsese commented on #267
Thanks for the report - I assume for the .vue syntax highlighting you're using https://atom.io/packages/language-vue?  That's what I installed to check things out -

I can reproduce on macOS 10.14.6 with 1.40.1 using:

[code]

With the `@each`:

![vue-with-each](https://user-images.githubusercontent.com/734194/66232308-2cb0e800-e6ae-11e9-9b71-8f5ab94ad82e.png)

Removing the `@each` section:

![vue

[2019-10-08 17:42] rsese commented on #267
Just wanted to check if you would you be up for opening a pull request to resolve the issue?  Asking since you've done the leg-work here :smile:

[2019-10-10 09:35] sarsamurmu opened #270 "Support for New @use and @forward syntax"
## Summary

Sass had now released new module system and it comes with new keywords like @use and @forward. So it changes the syntax completely.

## Motivation

For the new syntax, it marks a few things wrong like
[code]
Here `$` in marked as wrong and `@use` aren't highlighted.

[2019-10-10 10:37] sarsamurmu commented on #270
For reference here are all new syntax which isn't highlighted properly
[code]

[2019-10-21 21:43] octref opened #272 "[SCSS] Wrong tokenization of @extend rule"
### Prerequisites

* [x] Put an X between the brackets on this line if you have done all of the following:
    * Reproduced the problem in Safe Mode: <https://flight-manual.atom.io/hacking-atom/sections/debugging/#using-safe-mode>
    * Followed all applicable steps in the debugging guide: <https://flight-manual.atom.io/hacking-atom/sections/debugging/>
    * Checked the FAQs on the message board

[2019-10-21 21:43] octref commented on #272
Originally reported at https://github.com/microsoft/vscode/issues/64304

[2019-10-22 03:30] rsese commented on #272
Thanks @octref 👍   Reproduced with 1.42.0-nightly8 on macOS 10.14.6.

[2019-10-30 14:36] #272 closed

[2019-11-12 14:29] #270 closed

[2019-11-19 09:20] gerasimvol commented on #226
@cssinate https://github.com/cssinate/scss-language-improvements/issues/2

[2019-11-25 04:45] thinkerdu opened #274 "Vue broken ::v-deep highlighting"
![image](https://user-images.githubusercontent.com/28700378/69513029-69e47880-0f81-11ea-9c6b-0d7d737028d8.png)
![image](https://user-images.githubusercontent.com/28700378/69513031-6ea92c80-0f81-11ea-9820-d67a0c3f61b4.png)

[2019-11-28 06:02] lkashef commented on #274
Thanks for reaching out!

We require the template to be filled out on all new issues and pull requests. We do this so that we can be certain we have all the information we need to address your submission efficiently. This allows the maintainers to spend more time fixing bugs, implementing enhancements, and reviewing and merging pull requests.

Thanks for understanding and meeting us half way 😀

[2019-11-28 06:02] #274 closed

[2019-12-01 08:18] thinkerdu commented on #274
Might relate to [this issue](https://github.com/atom/language-sass/issues/254)

[2019-12-01 08:19] thinkerdu commented on #254
Any progress on this?

[2020-01-24 00:42] mneumark commented on #256
No one has looked at it in a couple years. My company is implementing tailwind soon, It would be nice to have support for this.

[2020-02-05 10:00] amercier opened #275 "End of line comments not detected in indented Sass"
### Prerequisites

* [x] ~Put an X between the brackets on this line if you have done all of the following:~
    * ~Reproduced the problem in Safe Mode: <https://flight-manual.atom.io/hacking-atom/sections/debugging/#using-safe-mode>~
    * ~Followed all applicable steps in the debugging guide: <https://flight-manual.atom.io/hacking-atom/sections/debugging/>~
    * ~Checked the FAQs on the message

[2020-05-14 16:49] lambert-velir opened #278 "Support @use synatax highlighting"
## Summary

Sass recently launched a new [module system](https://sass-lang.com/blog/the-module-system-is-launched) which includes a new `@use` keyword to import variables, mixins, and functions.  `language-sass` currently does not syntax highlight the `@use` keyword.

Is this something that can be added to `language-sass`?

[2020-08-18 13:09] ronilaukkarinen commented on #226
Just bumping to say I noticed these too. As I do SCSS daily it would be nice to have these implemented instead of a separate plugin. As not experienced enough, using [cssinate.scss-language-improvements](https://marketplace.visualstudio.com/items?itemName=cssinate.scss-language-improvements) for now, as others.

[2020-10-26 18:10] alexr00 opened #279 "SCSS Attribute Selector Syntax Highlighting Broken"
From @alan-pie in https://github.com/microsoft/vscode/issues/109247

### Prerequisites

* [ ] Put an X between the brackets on this line if you have done all of the following:
    * Reproduced the problem in Safe Mode: http://flight-manual.atom.io/hacking-atom/sections/debugging/#using-safe-mode
    * Followed all applicable steps in the debugging guide: http://flight-manual.atom.io/hacking-atom/s

[2020-10-26 18:11] alexr00 opened #280 "SCSS Attribute Selector Syntax Highlighting Broken"
From @alan-pie  in https://github.com/microsoft/vscode/issues/109247

### Prerequisites

* [ ] Put an X between the brackets on this line if you have done all of the following:
    * Reproduced the problem in Safe Mode: http://flight-manual.atom.io/hacking-atom/sections/debugging/#using-safe-mode
    * Followed all applicable steps in the debugging guide: http://flight-manual.atom.io/hacking-atom/

[2021-01-21 12:29] matteobertoldo commented on #278
@lambert-velir the code was [merged](https://github.com/atom/language-sass/commit/f52ab12f7f9346cc2568129d8c4419bd3d506b47) into `master` but there is no new release for this. @darangi can u plan a new release also for this repo? 🙇🏽‍♂️

Thank u so much! 😊

[2021-02-04 19:12] miralize commented on #254
Are there any workarounds for this?

[2021-02-09 12:23] artuska commented on #226
Any progress?

[2021-02-09 12:28] cssinate commented on #226
@artuska - yes. Read the last two references from before you posted.

[2021-02-11 18:10] cssinate commented on #226
So here's a quick update. The problem for VSCode [should be solved by the end of this month](https://github.com/microsoft/vscode/issues/115480). The thing is, there's been a fix for this in Atom for 3 years:

https://github.com/atom/language-css/blob/57531cce71821d4bd4493a2a90c12170344a56dd/grammars/css.cson#L2092

For those that aren't super familiar with Regex, there's a bit in there that says,

[2021-03-04 22:30] niktariy commented on #280
Still the problem
![image](https://user-images.githubusercontent.com/34153986/110039484-5615ed80-7d52-11eb-9e68-d7cc4246f0cf.png)

[2021-03-05 08:46] fightingcat commented on #254
ping.

[2021-03-08 14:58] andrew-boyd commented on #254
It would be amazing to have support for `::v-deep` syntax highlighting. Current workaround is... not amazing:

[code]

[2021-03-10 11:42] xavierfoucrier commented on #278
@darangi @lee-dohm any update on pushing this package on APM?
Thanks for the feedback :wink:

[2021-03-10 15:42] darangi commented on #278
Yes @xavierfoucrier.

`language-sass@v0.62.2` has been published 🎉

[2021-03-10 15:42] #278 closed

[2021-03-10 16:10] xavierfoucrier commented on #278
Thanks a lot @darangi! :wink:

[2021-03-11 17:29] matteobertoldo commented on #256
@darangi is possible updated the grammar with this keyword?

[2021-03-15 20:03] pete-hotchkiss opened #281 "sass modules @use and @forward formatting is broken"
### Prerequisites

* [ ] Put an X between the brackets on this line if you have done all of the following:
    * Reproduced the problem in Safe Mode: <https://flight-manual.atom.io/hacking-atom/sections/debugging/#using-safe-mode>
    * Followed all applicable steps in the debugging guide: <https://flight-manual.atom.io/hacking-atom/sections/debugging/>
    * Checked the FAQs on the message board

[2021-03-16 16:11] matteobertoldo commented on #256
@darangi Here the list of possible functions and directives that can be highlighted: https://tailwindcss.com/docs/functions-and-directives

[2021-04-07 08:35] kvasimon commented on #281
Any updates here? Would be great to use the new Dart Sass syntax without it looking like there are syntax issues everywhere.

[2021-04-15 10:00] Humanify-nl opened #282 "@include mixin names not recognized and now grey colored"
### Prerequisites

* [ X ] Put an X between the brackets on this line if you have done all of the following:
    * Reproduced the problem in Safe Mode: <https://flight-manual.atom.io/hacking-atom/sections/debugging/#using-safe-mode>
    * Followed all applicable steps in the debugging guide: <https://flight-manual.atom.io/hacking-atom/sections/debugging/>
    * Checked the FAQs on the message boar

[2021-04-16 15:39] lambert-velir commented on #278
hi @darangi.

Thanks for updating this!  However, my `language-sass` version is still stuck on `0.62.1` and a new update isn't showing up, even via `apm update`.  Am I missing something?

[2021-04-16 17:56] xavierfoucrier commented on #278
@darangi I can confirm, same on my side. May Be this will be published with atom@1.57 ?

[2021-06-17 09:45] Azragh opened #285 "SCSS Comment and mixin highlighting broken"
### Description

Somehow the highlighting of comments in SCSS files stopped working with the default dark syntax theme. Since the repo of the syntax package is read-only, I post this issue here (https://github.com/atom/atom-dark-syntax/issues).

### Steps to Reproduce

1. Use Atom Dark Syntax Package
2. Write some oneline comments
3. Write / use a mixin

**Expected behavior:**

Comment slashes sho

[2021-06-17 09:47] Azragh commented on #285
May be the same as this one: https://github.com/atom/language-sass/issues/282

[2021-06-17 09:48] Azragh commented on #285
And the same again: #281

[2021-06-23 09:00] alexr00 opened #286 "scss grammar lack of syntax highlight of :host-context() and other experimental pseudo-classes"
### Prerequisites

* [ ] Put an X between the brackets on this line if you have done all of the following:
    * Reproduced the problem in Safe Mode: <https://flight-manual.atom.io/hacking-atom/sections/debugging/#using-safe-mode>
    * Followed all applicable steps in the debugging guide: <https://flight-manual.atom.io/hacking-atom/sections/debugging/>
    * Checked the FAQs on the message board

[2021-09-06 04:58] #226 closed

[2021-09-26 16:11] matteobertoldo commented on #285
@Azragh this is happened after the merge of this PR @chbk can u help us for fix some issue? there are many, caused by the syntax color error. I also have a PR of my own for months to extend tailwindCSS support but which I cannot open until these visual bugs have been fixed.

[2021-09-27 06:46] Azragh commented on #285
@matteobertoldo I would love to, but I don't know if I can help here. My programming knowledge is limited to basic PHP and a bit of Javascript, my speciality is CSS / SCSS. Looking into the modified files, I don't understand much, but if I set the color to "inherit" in the inspector at the following definition, the slashes and @'s look good again.

[code]
Then to get the funcion names in the right

[2021-09-27 10:55] chbk commented on #285
Sorry for the disruption, I can help fix this. There are separate issues in both grammar and theme:
- Comment punctuation: an oversight on my part, can be fixed in the theme.
- At sign: it was intended for all punctuation in all languages to be the same color, besides for comments and literals. I think this should be fixed in the grammar, the question is whether `@` is really punctuation or just p

[2021-12-07 10:08] alexr00 opened #287 "`-` character in a font family tokenized as `support.constant.mathematical-symbols.scss`"
### Prerequisites

* [ ] Put an X between the brackets on this line if you have done all of the following:
    * Reproduced the problem in Safe Mode: <https://flight-manual.atom.io/hacking-atom/sections/debugging/#using-safe-mode>
    * Followed all applicable steps in the debugging guide: <https://flight-manual.atom.io/hacking-atom/sections/debugging/>
    * Checked the FAQs on the message board

[2021-12-15 10:17] alexr00 opened #288 "support.function.misc.scss applied inconsistently"
### Prerequisites

* [ ] Put an X between the brackets on this line if you have done all of the following:
    * Reproduced the problem in Safe Mode: <https://flight-manual.atom.io/hacking-atom/sections/debugging/#using-safe-mode>
    * Followed all applicable steps in the debugging guide: <https://flight-manual.atom.io/hacking-atom/sections/debugging/>
    * Checked the FAQs on the message board

[2021-12-15 10:22] gadfly3173 commented on #288
And also `.el-input-number--mini` in this example rendered not correct, the same performance on this GitHub page.

[2022-02-14 02:44] branman180 commented on #285
chbk:theme-scopes

[2022-02-14 02:44] branman180 commented on #285
chbk:theme-scopes

[2022-03-01 13:01] alexr00 opened #289 "functions do not have the correct tokens with space after the function name"
### Prerequisites

* [ ] Put an X between the brackets on this line if you have done all of the following:
    * Reproduced the problem in Safe Mode: http://flight-manual.atom.io/hacking-atom/sections/debugging/#using-safe-mode
    * Followed all applicable steps in the debugging guide: http://flight-manual.atom.io/hacking-atom/sections/debugging/
    * Checked the FAQs on the message board for co

[2022-03-01 13:17] alexr00 opened #290 "some scss properties aren't highlighted correctly"
### Prerequisites

* [ ] Put an X between the brackets on this line if you have done all of the following:
    * Reproduced the problem in Safe Mode: http://flight-manual.atom.io/hacking-atom/sections/debugging/#using-safe-mode
    * Followed all applicable steps in the debugging guide: http://flight-manual.atom.io/hacking-atom/sections/debugging/
    * Checked the FAQs on the message board for co

[2022-05-18 12:21] ronilaukkarinen commented on #226
Quoting myself after some years.

[SCSS language improvements](https://marketplace.visualstudio.com/items?itemName=cssinate.scss-language-improvements) extension is no longer available and this is present again...

![Screen-Shot-2022-05-18-15-21-01 97](https://user-images.githubusercontent.com/1534150/169037449-8aad14dd-d1a6-4dee-a28f-a491af43a57d.png)

[code]

[2022-05-18 20:16] cssinate commented on #226
@ronilaukkarinen - Here's what I've found.

https://github.com/atom/language-css/commit/21cfdb766587c351ac9873ecce0075b8c05799c5

The commit above fixed the issue for syntax highlighting. However, according to this:

https://github.com/atom/language-css/pull/127#issuecomment-883432402

This change broke auto-completions, so the change was reverted.

So either the regex for property names needs to

[2022-05-18 20:35] ronilaukkarinen commented on #226
Thank you a lot @cssinate for taking a look! This issue definitely needs to be reopened.

[2022-05-19 08:20] ronilaukkarinen commented on #226
Just FYI, I've improved the original extension by @cssinate and re-published [my fork](https://github.com/ronilaukkarinen/scss-language-improvements) to [Visual Studio Marketplace](https://marketplace.visualstudio.com/items?itemName=ronilaukkarinen.scss-language-improvements) so whoever is also bugged by this issue can use it while waiting for the official fix.